/* Footer ------------------------------------------------ */
footer
	.wrapper
		padding-top: to-rem(32px)
		padding-bottom: to-rem(38px)
		display: flex
		justify-content: space-between
		*
			text-align: left
			font-size: to-rem(13px)
			color: $grey-color
		h3
			margin-bottom: 1rem
			text-transform: uppercase
			color: $grey-color
			font-weight: 600
		li
			margin: to-rem(10px) 0
		.contact
			width: 17%
			h3
				margin-top: to-rem(28px)
				margin-bottom: 0
			ul li
				margin-bottom: to-rem(20px)
		.categories
			width: 40%
			> div
				display: flex
				flex-direction: row
				justify-content: space-between
				ul li a
					opacity: 0.7
					&:hover
						color: $green-color
		.about
			width: 10%
			ul li a
				opacity: 0.7
				&:hover
					color: $green-color
		.social
			ul li
				display: inline-block
				margin: 0 to-rem(12px)
				a svg
					color: $grey-color
					opacity: 0.5
					font-size: 1.2rem
					path
						transition: all 0.3s ease
					&:hover
						path
							color: $green-color