* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

html {
  font-size: 14px;
  scroll-behavior: smooth; }

body {
  position: relative; }
  body.noscroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; }
  @media (max-width: 1010px) {
    body {
      padding-top: 78px; } }
  @media (max-width: 850px) {
    body {
      padding-bottom: 53px; } }

main {
  padding-top: 5.9285714286rem; }
  @media (max-width: 850px) {
    main {
      padding: 0; } }

.wrapper {
  width: 1280px;
  margin: 0 auto;
  text-align: center; }
  @media (max-width: 1280px) {
    .wrapper {
      width: 95%; } }

section {
  overflow: hidden; }

a, button, input[type="submit"] {
  display: inline-block;
  transition: all 0.5s ease; }

.img {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent; }

#signinForm input[type="submit"]#login, div#cookies div.subwrapper button#accept-cookies, main section.pop-items .wrapper button#loadMore {
  text-transform: uppercase;
  font-size: 1.1428571429rem;
  padding: 0.5714285714rem 1.4285714286rem;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 35px;
  cursor: pointer; }

main section.pop-items .wrapper form select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  border: 0.15rem solid #e8e2d6;
  border-radius: 35px;
  padding: 0.5714285714rem 1.4285714286rem;
  font-size: 1.1428571429rem;
  background-color: #ffffff;
  color: #45413e;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.4s ease;
  background: url("../img/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-size: 0.6rem; }
  main section.pop-items .wrapper form select:hover {
    border-color: #84bc22; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  cursor: pointer; }
  #overlay.active {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.74);
    visibility: visible; }

#signinForm {
  position: absolute;
  width: 40%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: #ffffff;
  padding: 3.5714285714rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  cursor: initial;
  text-align: center;
  border-radius: 10px; }
  #signinForm.active {
    opacity: 1;
    visibility: visible; }
  @media (max-width: 1280px) {
    #signinForm {
      width: 50%; } }
  @media (max-width: 960px) {
    #signinForm {
      width: 60%; } }
  @media (max-width: 640px) {
    #signinForm {
      width: 80%;
      padding: 1.4285714286rem; } }
  #signinForm:after {
    content: "";
    display: table;
    clear: both; }
  #signinForm * {
    user-select: none; }
  #signinForm h3 {
    color: #45413e;
    font-size: 2.1428571429rem;
    margin-bottom: 3rem; }
  #signinForm label {
    color: #45413e;
    font-size: 1rem;
    margin-bottom: 1rem;
    float: left;
    display: inline-block; }
  #signinForm a {
    display: inline-block;
    color: #84bc22;
    font-size: 0.8571428571rem; }
    #signinForm a:hover {
      color: #9fdb36; }
  #signinForm div.forgot:after {
    content: "";
    display: table;
    clear: both; }
  #signinForm div.forgot > a {
    float: right; }
  #signinForm input[type="email"], #signinForm input[type="password"], #signinForm input[type="text"] {
    width: 100%;
    border: 0.15rem solid #d7d7d7;
    background-color: #ffffff;
    padding: 0.8571428571rem 1.4285714286rem;
    border-radius: 35px;
    transition: all 0.5s ease; }
    #signinForm input[type="email"]:focus:invalid, #signinForm input[type="email"]:focus:empty, #signinForm input[type="password"]:focus:invalid, #signinForm input[type="password"]:focus:empty, #signinForm input[type="text"]:focus:invalid, #signinForm input[type="text"]:focus:empty {
      border-color: red; }
    #signinForm input[type="email"]:focus:valid, #signinForm input[type="password"]:focus:valid, #signinForm input[type="text"]:focus:valid {
      border-color: #84bc22; }
  #signinForm input[type="email"] {
    margin-bottom: 2.1428571429rem; }
  #signinForm div.password {
    position: relative; }
    #signinForm div.password span.showPassword {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem; }
      #signinForm div.password span.showPassword svg {
        color: #4f4e4c;
        width: 1.2857142857rem;
        height: 1.2857142857rem; }
  #signinForm input[type="submit"]#login {
    display: block;
    margin: 4.2857142857rem auto 1.5714285714rem;
    padding: 0.5714285714rem 5rem;
    border-color: transparent;
    color: #ffffff;
    background-color: #84bc22; }
    #signinForm input[type="submit"]#login:hover {
      color: #84bc22;
      border-color: #84bc22;
      background-color: transparent; }

div#cookies {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: #ffffff;
  padding: 1.7857142857rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  cursor: initial;
  border-radius: 10px; }
  div#cookies.active {
    opacity: 1;
    visibility: visible; }
  div#cookies div.subwrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; }
    @media (max-width: 920px) {
      div#cookies div.subwrapper {
        align-items: center; } }
    div#cookies div.subwrapper h6, div#cookies div.subwrapper a {
      color: #84bc22; }
    div#cookies div.subwrapper h6 {
      margin-bottom: 1.1428571429rem;
      font-size: 1.1428571429rem;
      line-height: 1.5; }
    div#cookies div.subwrapper p {
      display: inline-block;
      width: 80%;
      color: #45413e;
      font-size: 1rem;
      line-height: 1.71; }
      @media (max-width: 920px) {
        div#cookies div.subwrapper p {
          width: 100%; } }
    div#cookies div.subwrapper button#accept-cookies {
      min-width: 20%;
      align-self: flex-end;
      padding: 0.6428571429rem 3.2857142857rem;
      border-color: transparent;
      color: #ffffff;
      background-color: #84bc22; }
      div#cookies div.subwrapper button#accept-cookies:hover {
        color: #84bc22;
        border-color: #84bc22;
        background-color: transparent; }
      @media (max-width: 920px) {
        div#cookies div.subwrapper button#accept-cookies {
          align-self: center;
          margin-top: 1rem; } }
    div#cookies div.subwrapper span#close-cookies {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      transition: all 0.3s ease; }
      div#cookies div.subwrapper span#close-cookies svg {
        font-size: 1.5rem; }
      div#cookies div.subwrapper span#close-cookies:hover svg path {
        fill: #84bc22; }

/* Header ------------------------------------------------ */
/* Header ------------------------------------------------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc; }
  header > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    @media (max-width: 1010px) {
      header > .wrapper {
        padding-top: 1rem;
        flex-direction: column;
        align-items: center; } }
    @media (max-width: 850px) {
      header > .wrapper {
        padding: 1rem;
        flex-direction: row;
        justify-content: flex-start; } }
    header > .wrapper button#hamburger {
      background-color: transparent;
      border: none;
      margin-right: 1rem;
      width: 4.1rem;
      height: 4.1rem;
      font-size: 1.7rem;
      color: #45413e;
      cursor: pointer;
      display: none;
      position: relative; }
      header > .wrapper button#hamburger > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden; }
        header > .wrapper button#hamburger > span.active {
          opacity: 1;
          visibility: visible; }
      header > .wrapper button#hamburger:hover {
        color: #84bc22; }
      @media (max-width: 850px) {
        header > .wrapper button#hamburger {
          display: block; } }
    header > .wrapper a.logo {
      display: flex;
      align-self: center; }
      @media (max-width: 850px) {
        header > .wrapper a.logo {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); } }
      @media (max-width: 640px) {
        header > .wrapper a.logo {
          left: unset;
          right: 1rem;
          transform: translate(0, -50%); } }
      header > .wrapper a.logo img {
        width: 4.5714285714rem;
        height: 4.5714285714rem;
        margin-right: 5px; }
      header > .wrapper a.logo div h1 {
        font-size: 2.2857142857rem;
        letter-spacing: 6.33px;
        color: #011847; }
      header > .wrapper a.logo div h2 {
        font-size: 1.2857142857rem;
        color: #84bc22; }
    header > .wrapper nav > ul {
      display: flex;
      align-items: flex-end; }
      header > .wrapper nav > ul > li {
        display: inline-block;
        padding: 1.0714285714rem 1.4285714286rem 2.1428571429rem 1.4285714286rem;
        transition: all 0.3s ease;
        user-select: none; }
        @media (max-width: 1280px) {
          header > .wrapper nav > ul > li {
            padding: 1.0714285714rem 1.0714285714rem 2.1428571429rem 1.0714285714rem; } }
        @media (max-width: 480px) {
          header > .wrapper nav > ul > li {
            padding: 0.7142857143rem; } }
        header > .wrapper nav > ul > li:hover {
          color: #ffffff; }
        header > .wrapper nav > ul > li > h2 {
          width: 100%;
          font-size: 1rem; }
          @media (max-width: 850px) {
            header > .wrapper nav > ul > li > h2:hover {
              color: #84bc22; }
              header > .wrapper nav > ul > li > h2:hover > span.arrow-down {
                color: #84bc22; } }
          header > .wrapper nav > ul > li > h2 > span.arrow-down {
            font-size: 0.7rem;
            margin-left: 0.5714285714rem;
            color: #45413e;
            opacity: 0.7; }
            @media (max-width: 850px) {
              header > .wrapper nav > ul > li > h2 > span.arrow-down {
                margin-left: 0;
                float: right;
                color: #ffffff;
                transition: all 0.4s ease; }
                header > .wrapper nav > ul > li > h2 > span.arrow-down.active {
                  transform: rotate(180deg);
                  color: #84bc22; } }
    header > .wrapper nav {
      display: flex;
      justify-self: flex-end;
      justify-content: space-around;
      padding-top: 1rem; }
      @media (max-width: 1280px) {
        header > .wrapper nav {
          justify-self: center;
          justify-content: space-between; } }
      header > .wrapper nav ul.nav-main {
        transition: all 0.3s ease; }
        @media (max-width: 850px) {
          header > .wrapper nav ul.nav-main {
            position: absolute;
            top: 86px;
            left: 0;
            transform: translate(-50%, 0);
            right: 0;
            padding-top: 1rem;
            flex-direction: column;
            align-items: flex-start;
            background-color: #262a32;
            opacity: 0;
            visibility: hidden; }
            header > .wrapper nav ul.nav-main * {
              color: #ffffff; }
            header > .wrapper nav ul.nav-main.active {
              transform: translate(0, 0);
              opacity: 1;
              visibility: visible; } }
  @media (max-width: 850px) and (max-width: 480px) {
    header > .wrapper nav ul.nav-main {
      padding-bottom: 1rem; } }

        header > .wrapper nav ul.nav-main > li {
          text-transform: uppercase;
          border-bottom: 0.3571428571rem solid transparent; }
          @media (min-width: 851px) {
            header > .wrapper nav ul.nav-main > li:hover {
              background-color: #262a32;
              border-bottom: 0.3571428571rem solid #84bc22; }
              header > .wrapper nav ul.nav-main > li:hover * {
                color: #ffffff; } }
          @media (max-width: 850px) {
            header > .wrapper nav ul.nav-main > li {
              width: 100%;
              padding-left: 2%;
              padding-right: 2%;
              text-align: left;
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              flex-wrap: wrap;
              cursor: pointer; }
              header > .wrapper nav ul.nav-main > li > h2 {
                cursor: pointer; }
                header > .wrapper nav ul.nav-main > li > h2:hover {
                  color: #84bc22; }
                header > .wrapper nav ul.nav-main > li > h2 > span:hover {
                  color: #84bc22; } }
          header > .wrapper nav ul.nav-main > li.menu-open {
            z-index: 20; }
            @media (min-width: 851px) {
              header > .wrapper nav ul.nav-main > li.menu-open:hover .menu {
                opacity: 1;
                visibility: visible; } }
            header > .wrapper nav ul.nav-main > li.menu-open .menu {
              background-color: #262a32;
              position: absolute;
              opacity: 0;
              visibility: hidden;
              left: 0;
              right: 0;
              top: 5.9285714286rem;
              z-index: 50;
              transition: all 0.4s ease; }
              @media (max-width: 1010px) {
                header > .wrapper nav ul.nav-main > li.menu-open .menu {
                  top: 161px; } }
              @media (max-width: 850px) {
                header > .wrapper nav ul.nav-main > li.menu-open .menu {
                  top: 0;
                  z-index: 100;
                  width: 100%; }
                  header > .wrapper nav ul.nav-main > li.menu-open .menu.active {
                    position: relative;
                    opacity: 1;
                    visibility: visible; } }
              header > .wrapper nav ul.nav-main > li.menu-open .menu > .wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                padding-top: 2.1428571429rem;
                padding-bottom: 2.1428571429rem; }
                @media (max-width: 850px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu > .wrapper {
                    flex-direction: column;
                    padding: 1rem 0 1rem; } }
                @media (max-width: 480px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu > .wrapper {
                    width: 100%; } }
              header > .wrapper nav ul.nav-main > li.menu-open .menu * {
                font-size: 1rem;
                color: #ffffff;
                text-align: left; }
              header > .wrapper nav ul.nav-main > li.menu-open .menu h3 {
                padding-bottom: 0.7142857143rem; }
                header > .wrapper nav ul.nav-main > li.menu-open .menu h3 > span.arrow-down {
                  color: #ffffff;
                  font-size: 0.7rem;
                  float: right;
                  transition: all 0.4s ease;
                  opacity: 0; }
                @media (max-width: 850px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu h3 {
                    cursor: pointer;
                    transition: all 0.3s ease; }
                    header > .wrapper nav ul.nav-main > li.menu-open .menu h3:hover {
                      color: #84bc22; }
                      header > .wrapper nav ul.nav-main > li.menu-open .menu h3:hover > span {
                        color: #84bc22; }
                    header > .wrapper nav ul.nav-main > li.menu-open .menu h3 span.arrow-down {
                      opacity: 0.7; }
                      header > .wrapper nav ul.nav-main > li.menu-open .menu h3 span.arrow-down.active {
                        color: #84bc22;
                        transform: rotate(180deg); } }
              header > .wrapper nav ul.nav-main > li.menu-open .menu li {
                padding: 0.4285714286rem 0;
                text-transform: capitalize;
                transition: all 0.2s ease; }
                header > .wrapper nav ul.nav-main > li.menu-open .menu li:hover a {
                  color: #84bc22; }
              header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat {
                width: 40%;
                display: flex;
                flex-direction: column; }
                @media (max-width: 850px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat {
                    width: 100%;
                    padding: 0.5rem; } }
                header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat > div {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: space-between; }
                  @media (max-width: 850px) {
                    header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat > div {
                      padding: 0 1rem;
                      visibility: hidden;
                      opacity: 0;
                      position: absolute;
                      left: 0;
                      transform: translateX(-10%);
                      right: 0;
                      top: 0;
                      z-index: 70;
                      transition: all 0.4s ease; }
                      header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat > div.active {
                        position: relative;
                        transform: translateX(0);
                        opacity: 1;
                        visibility: visible; } }
                  @media (max-width: 480px) {
                    header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat > div {
                      padding: 0; } }
              header > .wrapper nav ul.nav-main > li.menu-open .menu div.sale {
                width: 10%;
                display: flex;
                flex-direction: column; }
                @media (max-width: 850px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu div.sale {
                    width: 100%;
                    padding: 0.5rem; } }
                @media (max-width: 850px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu div.sale > ul {
                    padding: 0 1rem;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    transform: translateX(-10%);
                    right: 0;
                    top: 0;
                    z-index: 70;
                    transition: all 0.4s ease; }
                    header > .wrapper nav ul.nav-main > li.menu-open .menu div.sale > ul.active {
                      position: relative;
                      transform: translateX(0);
                      opacity: 1;
                      visibility: visible; } }
                @media (max-width: 480px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu div.sale > ul {
                    padding: 0; } }
              header > .wrapper nav ul.nav-main > li.menu-open .menu img {
                width: 30%;
                height: 100%;
                border-radius: 10px; }
                @media (max-width: 850px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu img {
                    align-self: center;
                    width: 60%; } }
                @media (max-width: 480px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu img {
                    align-self: center;
                    width: 80%; } }
      header > .wrapper nav ul.nav-lang {
        margin-right: 3.5714285714rem; }
        @media (max-width: 1280px) {
          header > .wrapper nav ul.nav-lang {
            margin-right: 0; } }
        @media (max-width: 850px) {
          header > .wrapper nav ul.nav-lang {
            display: none; } }
        header > .wrapper nav ul.nav-lang * {
          color: #45413e; }
        header > .wrapper nav ul.nav-lang > li {
          border-bottom: 5px solid transparent;
          color: rgba(69, 65, 62, 0.5); }
          header > .wrapper nav ul.nav-lang > li:hover {
            background-color: #262a32;
            border-bottom: 5px solid #84bc22;
            color: #ffffff; }
            header > .wrapper nav ul.nav-lang > li:hover * {
              color: #ffffff; }
          header > .wrapper nav ul.nav-lang > li.lang-open, header > .wrapper nav ul.nav-lang > li.currency-open {
            z-index: 20; }
            header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu {
              background-color: #262a32;
              position: absolute;
              opacity: 0;
              visibility: hidden;
              top: 5.9285714286rem;
              z-index: 10;
              transition: all 0.4s ease; }
              @media (max-width: 1010px) {
                header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu {
                  top: 161px; } }
              header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu li, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu li, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu li, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu li {
                padding: 0.4285714286rem 0;
                text-transform: capitalize;
                transition: all 0.2s ease;
                cursor: pointer; }
                header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu li:hover, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu li:hover, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu li:hover, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu li:hover {
                  opacity: 0.6; }
            header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu {
              width: 5.5714285714rem;
              transform: translateX(-1.2857142857rem); }
            header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu {
              width: 9.2857142857rem;
              transform: translateX(-30%); }
          header > .wrapper nav ul.nav-lang > li.lang-open:hover .lang-menu {
            opacity: 1;
            visibility: visible; }
          header > .wrapper nav ul.nav-lang > li.currency-open:hover .currency-menu {
            opacity: 1;
            visibility: visible; }
      @media (max-width: 850px) {
        header > .wrapper nav ul.nav-manage {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 20;
          justify-content: center;
          background-color: #262a32; } }
      @media (max-width: 850px) {
        header > .wrapper nav ul.nav-manage > li {
          padding: 0; } }
      header > .wrapper nav ul.nav-manage > li button, header > .wrapper nav ul.nav-manage > li a {
        background-color: transparent;
        border: none;
        position: relative;
        cursor: pointer; }
        @media (max-width: 850px) {
          header > .wrapper nav ul.nav-manage > li button, header > .wrapper nav ul.nav-manage > li a {
            padding: 1.4285714286rem; } }
        header > .wrapper nav ul.nav-manage > li button svg, header > .wrapper nav ul.nav-manage > li a svg {
          color: #45413e;
          opacity: 0.5;
          font-size: 1.7rem; }
          @media (max-width: 850px) {
            header > .wrapper nav ul.nav-manage > li button svg, header > .wrapper nav ul.nav-manage > li a svg {
              color: #ffffff; } }
          header > .wrapper nav ul.nav-manage > li button svg path, header > .wrapper nav ul.nav-manage > li a svg path {
            transition: all 0.3s ease; }
          header > .wrapper nav ul.nav-manage > li button svg:hover path, header > .wrapper nav ul.nav-manage > li a svg:hover path {
            color: #84bc22; }
        header > .wrapper nav ul.nav-manage > li button#wishlist > span, header > .wrapper nav ul.nav-manage > li button#cart > span, header > .wrapper nav ul.nav-manage > li a#wishlist > span, header > .wrapper nav ul.nav-manage > li a#cart > span {
          position: absolute;
          display: inline-block;
          top: -40%;
          right: -65%;
          font-size: 0.7rem;
          color: #84bc22;
          background-color: #ffffff;
          border: 0.15rem solid #84bc22;
          padding: 0.2142857143rem 0.4285714286rem;
          border-radius: 50%;
          z-index: 15; }
          @media (max-width: 850px) {
            header > .wrapper nav ul.nav-manage > li button#wishlist > span, header > .wrapper nav ul.nav-manage > li button#cart > span, header > .wrapper nav ul.nav-manage > li a#wishlist > span, header > .wrapper nav ul.nav-manage > li a#cart > span {
              top: 15%;
              right: 15%;
              background-color: transparent; } }

/* Main -------------------------------------------------- */
main {
  /* Breadcrumbs ----------------------------------------- */
  /* Breadcrumbs ----------------------------------------- */
  /* Sass: $length [%], $length-color [#...] */
  /* Popular Items ----------------------------------------- */
  /* Featured Products ------------------------------------- */
  /* Featured Products ------------------------------------- */ }
  main section.breadcrumbs {
    background-color: #F1EDEA; }
    main section.breadcrumbs .wrapper {
      padding-top: 3.5714285714rem;
      padding-bottom: 2.1428571429rem; }
      @media (max-width: 850px) {
        main section.breadcrumbs .wrapper {
          padding-top: 2.5rem;
          padding-bottom: 1.0714285714rem; } }
      @media print {
        main section.breadcrumbs .wrapper > ul, main section.breadcrumbs .wrapper > ul * {
          visibility: visible; } }
      main section.breadcrumbs .wrapper > ul li {
        display: inline-block;
        margin: 0 0.4rem; }
        main section.breadcrumbs .wrapper > ul li a {
          color: #84bc22; }
          main section.breadcrumbs .wrapper > ul li a:hover {
            color: #a9df4c; }
      main section.breadcrumbs .wrapper h2 {
        padding: 1.0714285714rem 0 1.4285714286rem;
        text-align: center;
        position: relative;
        font-size: 3.4285714286rem; }
        @media (max-width: 640px) {
          main section.breadcrumbs .wrapper h2 {
            font-size: 2.1428571429rem; } }
        @media print {
          main section.breadcrumbs .wrapper h2 {
            visibility: visible; }
          main section.breadcrumbs .wrapper h2:after, main section.breadcrumbs .wrapper h2:before {
            visibility: hidden; } }
        main section.breadcrumbs .wrapper h2:before {
          position: absolute;
          bottom: 50%;
          right: 0;
          content: "";
          width: 40%;
          background-color: transparent;
          border-bottom: 0.1rem solid #ffffff; }
          @media (max-width: 1050px) {
            main section.breadcrumbs .wrapper h2:before {
              width: 32%; } }
          @media (max-width: 600px) {
            main section.breadcrumbs .wrapper h2:before {
              width: 28%; } }
        main section.breadcrumbs .wrapper h2:after {
          position: absolute;
          top: 50%;
          left: 0;
          content: "";
          width: 40%;
          background-color: transparent;
          border-bottom: 0.1rem solid #ffffff; }
          @media (max-width: 1050px) {
            main section.breadcrumbs .wrapper h2:after {
              width: 32%; } }
          @media (max-width: 600px) {
            main section.breadcrumbs .wrapper h2:after {
              width: 28%; } }
  main section.pop-items {
    background-color: #F1EDEA; }
    main section.pop-items .wrapper {
      padding-bottom: 5.5rem; }
      main section.pop-items .wrapper ul.breadcrumbs li {
        display: inline-block;
        margin: 0 0.4rem; }
        main section.pop-items .wrapper ul.breadcrumbs li a {
          color: #84bc22; }
          main section.pop-items .wrapper ul.breadcrumbs li a:hover {
            color: #a9df4c; }
      main section.pop-items .wrapper h2 {
        padding: 1.0714285714rem 0 2.1428571429rem;
        text-align: center;
        position: relative;
        font-size: 3.4285714286rem; }
        main section.pop-items .wrapper h2:before {
          position: absolute;
          bottom: 50%;
          right: 0;
          content: "";
          width: 35%;
          background-color: transparent;
          border-bottom: 2px solid #ffffff;
          opacity: 0.5; }
        main section.pop-items .wrapper h2:after {
          position: absolute;
          top: 50%;
          left: 0;
          content: "";
          width: 35%;
          background-color: transparent;
          border-bottom: 2px solid #ffffff;
          opacity: 0.5; }
      main section.pop-items .wrapper form {
        border-radius: 10px;
        padding: 1.4285714286rem 2.1428571429rem;
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between; }
        @media (max-width: 640px) {
          main section.pop-items .wrapper form {
            justify-content: center;
            padding: 1.4285714286rem 1rem; } }
        main section.pop-items .wrapper form > * {
          width: 26%;
          margin: 1.0714285714rem 0;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          main section.pop-items .wrapper form > * * {
            font-size: 1rem; }
          @media (max-width: 1050px) {
            main section.pop-items .wrapper form > * {
              width: 32%;
              justify-content: space-around; }
              main section.pop-items .wrapper form > * *, main section.pop-items .wrapper form > * select {
                font-size: 0.9rem; } }
          @media (max-width: 800px) {
            main section.pop-items .wrapper form > * {
              width: 46%; } }
          @media (max-width: 640px) {
            main section.pop-items .wrapper form > * {
              width: 90%; } }
          main section.pop-items .wrapper form > * select, main section.pop-items .wrapper form > * ul {
            width: 80%; }
            @media (max-width: 1050px) {
              main section.pop-items .wrapper form > * select, main section.pop-items .wrapper form > * ul {
                width: 70%; } }
        main section.pop-items .wrapper form select {
          border-color: rgba(69, 65, 62, 0.5); }
        main section.pop-items .wrapper form .color ul {
          display: flex;
          justify-content: space-between; }
          main section.pop-items .wrapper form .color ul li {
            padding: 0.4rem;
            border-radius: 50%;
            border: 5px solid transparent;
            cursor: pointer;
            transition: all 0.3s ease; }
      main section.pop-items .wrapper span.results {
        display: block;
        text-align: center;
        margin: 2.5rem 0 1.7857142857rem;
        color: #45413e;
        line-height: 1.37; }
      main section.pop-items .wrapper div.items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 -1%; }
        main section.pop-items .wrapper div.items .item {
          width: 23%;
          margin: 1%;
          padding-bottom: 1rem;
          background-color: #ffffff;
          border-radius: 12px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative; }
          main section.pop-items .wrapper div.items .item:hover .overlay {
            opacity: 0.9;
            visibility: visible; }
          main section.pop-items .wrapper div.items .item .img {
            height: 18.5714285714rem;
            border-radius: 10px 10px 0 0; }
          main section.pop-items .wrapper div.items .item > a {
            width: 100%;
            height: 18.5714285714rem;
            border-radius: 10px 10px 0 0; }
          main section.pop-items .wrapper div.items .item h4.name {
            font-size: 1.1428571429rem;
            width: 90%;
            margin: 1rem auto; }
          main section.pop-items .wrapper div.items .item span {
            display: inline-block;
            font-size: 1rem;
            margin-bottom: 1rem; }
          main section.pop-items .wrapper div.items .item .paired {
            display: flex;
            justify-content: center;
            align-content: center; }
            main section.pop-items .wrapper div.items .item .paired span {
              margin: 0;
              padding: 0.7142857143rem 1.2142857143rem;
              border: 3px groove rgba(0, 0, 0, 0.1);
              border-radius: 30px 0 0 30px;
              border-right: none; }
              main section.pop-items .wrapper div.items .item .paired span a {
                color: #24c36c; }
            main section.pop-items .wrapper div.items .item .paired button {
              padding: 0.7142857143rem 1.2142857143rem;
              border: 3px groove rgba(0, 0, 0, 0.1);
              border-radius: 0 30px 30px 0;
              color: #000;
              font-size: 1rem;
              background-color: transparent;
              cursor: pointer;
              text-transform: uppercase; }
              main section.pop-items .wrapper div.items .item .paired button:hover {
                background: linear-gradient(to top, #1cc167, #2ed3a2);
                color: #ffffff; }
          main section.pop-items .wrapper div.items .item .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(to top, #1cc167, #2ed3a2);
            border-radius: inherit;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease; }
            main section.pop-items .wrapper div.items .item .overlay button {
              position: absolute;
              top: 50%;
              background-color: #ffffff;
              padding: 2.2142857143rem;
              border-radius: 100%;
              border: 1px solid #ffffff;
              cursor: pointer; }
              main section.pop-items .wrapper div.items .item .overlay button:hover {
                background-color: #f2f2f2;
                box-shadow: 0 0 20px #0f6837; }
              main section.pop-items .wrapper div.items .item .overlay button.addToCart {
                left: 15%;
                transform: translate(-15%, -50%); }
              main section.pop-items .wrapper div.items .item .overlay button.addToWishlist {
                right: 15%;
                transform: translate(15%, -50%); }
              main section.pop-items .wrapper div.items .item .overlay button img {
                background-color: transparent;
                width: 2rem;
                height: 2rem; }
          main section.pop-items .wrapper div.items .item.com {
            padding-bottom: 0; }
            main section.pop-items .wrapper div.items .item.com .img {
              height: 100%;
              border-radius: 10px; }
            main section.pop-items .wrapper div.items .item.com .com-overlay {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: linear-gradient(to top, #675b99, #dc5987);
              border-radius: inherit;
              opacity: 0.8;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              padding: 2.5rem 2.1428571429rem;
              text-align: left; }
              main section.pop-items .wrapper div.items .item.com .com-overlay * {
                color: #ffffff; }
              main section.pop-items .wrapper div.items .item.com .com-overlay blockquote {
                width: 70%;
                font-size: 1.1428571429rem;
                line-height: 1.5; }
                main section.pop-items .wrapper div.items .item.com .com-overlay blockquote p {
                  margin-top: 2.1428571429rem;
                  font-size: 1rem;
                  text-transform: uppercase; }
                  main section.pop-items .wrapper div.items .item.com .com-overlay blockquote p img {
                    margin: 0 0.7rem;
                    transform: scale(1.8); }
      main section.pop-items .wrapper div.img.noimage {
        background-color: #262a32;
        background-size: 90%; }
      @media (max-width: 1030px) {
        main section.pop-items .wrapper div.items .item {
          width: 31%; } }
      @media (max-width: 820px) {
        main section.pop-items .wrapper div.items .item {
          width: 46%;
          margin: 2%; } }
      @media (max-width: 600px) {
        main section.pop-items .wrapper div.items {
          justify-content: center; }
          main section.pop-items .wrapper div.items .item {
            width: 80%;
            display: none; }
            main section.pop-items .wrapper div.items .item:nth-child(-n+4) {
              display: block; } }
      main section.pop-items .wrapper button#loadMore {
        margin-top: 3.6428571429rem;
        padding: 0.7142857143rem 6.4285714286rem;
        color: #84bc22;
        background-color: #ffffff;
        border-color: transparent;
        font-size: 0.8rem; }
        main section.pop-items .wrapper button#loadMore.enabled {
          color: #ffffff;
          background-color: #84bc22;
          border-color: transparent; }
          main section.pop-items .wrapper button#loadMore.enabled:hover {
            color: #84bc22;
            background-color: #ffffff;
            border-color: #84bc22; }
        @media (max-width: 600px) {
          main section.pop-items .wrapper button#loadMore {
            padding: 0.7142857143rem 2.8571428571rem; } }
  main section.feat-prod {
    background-color: #262a32; }
    @media (max-width: 580px) {
      main section.feat-prod {
        display: none; } }
    main section.feat-prod .wrapper {
      padding-top: 2.5rem;
      padding-bottom: 4.5714285714rem; }
      main section.feat-prod .wrapper h2 {
        font-size: 2.8571428571rem;
        color: #ffffff; }
      main section.feat-prod .wrapper p {
        font-size: 1.2857142857rem;
        color: #ffffff; }
      main section.feat-prod .wrapper div.slider-arrows div.arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        padding: 2.5rem; }
        main section.feat-prod .wrapper div.slider-arrows div.arrows * {
          margin: 0 0.3rem;
          color: #ffffff; }
        @media (max-width: 960px) {
          main section.feat-prod .wrapper div.slider-arrows div.arrows {
            width: 75%; } }
        main section.feat-prod .wrapper div.slider-arrows div.arrows button {
          background-color: #383d49;
          font-size: 1rem;
          border: none;
          padding: 0.4285714286rem;
          cursor: pointer; }
          main section.feat-prod .wrapper div.slider-arrows div.arrows button:hover {
            background-color: #474f5d; }
        main section.feat-prod .wrapper div.slider-arrows div.arrows div {
          width: 45%;
          height: 2px;
          background-color: #ffffff; }
        main section.feat-prod .wrapper div.slider-arrows div.arrows p {
          font-size: 1.4rem;
          font-weight: bold;
          font-style: italic;
          letter-spacing: 2.5px; }
      main section.feat-prod .wrapper div.slider-arrows div.items {
        position: relative; }
        main section.feat-prod .wrapper div.slider-arrows div.items .screen {
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s ease; }
          main section.feat-prod .wrapper div.slider-arrows div.items .screen.active {
            position: relative;
            opacity: 1;
            visibility: visible; }
          @media (max-width: 960px) {
            main section.feat-prod .wrapper div.slider-arrows div.items .screen {
              flex-wrap: wrap;
              justify-content: space-evenly; } }
          main section.feat-prod .wrapper div.slider-arrows div.items .screen .item {
            width: 23%;
            margin: 0 1%;
            padding-bottom: 1.5rem;
            background-color: #ffffff;
            border-radius: 12px;
            text-align: center; }
            @media (max-width: 960px) {
              main section.feat-prod .wrapper div.slider-arrows div.items .screen .item {
                width: 43%;
                margin: 1rem; } }
            main section.feat-prod .wrapper div.slider-arrows div.items .screen .item .img {
              height: 18.5714285714rem;
              border-radius: 10px 10px 0 0; }
            main section.feat-prod .wrapper div.slider-arrows div.items .screen .item h4.name {
              width: 70%;
              margin: 1rem auto; }
            main section.feat-prod .wrapper div.slider-arrows div.items .screen .item a {
              color: #84bc22; }

/* Footer ------------------------------------------------ */
/* Footer ------------------------------------------------ */
footer .wrapper {
  padding-top: 2.2857142857rem;
  padding-bottom: 2.7142857143rem;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 850px) {
    footer .wrapper {
      flex-direction: column; }
      footer .wrapper > div.contact, footer .wrapper div.categories, footer .wrapper div.about {
        width: 100%;
        position: relative;
        margin-bottom: 1rem; }
        footer .wrapper > div.contact.contact, footer .wrapper div.categories.contact, footer .wrapper div.about.contact {
          margin-bottom: 2rem; }
        footer .wrapper > div.contact ul.contact-menu, footer .wrapper > div.contact div.categories-menu, footer .wrapper > div.contact ul.about-menu, footer .wrapper div.categories ul.contact-menu, footer .wrapper div.categories div.categories-menu, footer .wrapper div.categories ul.about-menu, footer .wrapper div.about ul.contact-menu, footer .wrapper div.about div.categories-menu, footer .wrapper div.about ul.about-menu {
          transition-property: transform, opacity;
          transition-duration: 0.3s;
          transition-timing-function: ease;
          position: absolute;
          top: 1rem;
          transform: translateY(-10%);
          opacity: 0;
          visibility: hidden; }
          footer .wrapper > div.contact ul.contact-menu.active, footer .wrapper > div.contact div.categories-menu.active, footer .wrapper > div.contact ul.about-menu.active, footer .wrapper div.categories ul.contact-menu.active, footer .wrapper div.categories div.categories-menu.active, footer .wrapper div.categories ul.about-menu.active, footer .wrapper div.about ul.contact-menu.active, footer .wrapper div.about div.categories-menu.active, footer .wrapper div.about ul.about-menu.active {
            transform: translateY(0);
            position: relative;
            opacity: 1;
            visibility: visible; } }
  footer .wrapper * {
    text-align: left;
    font-size: 0.9285714286rem;
    color: #45413e; }
  footer .wrapper h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #45413e;
    font-weight: 600; }
    footer .wrapper h3 span.arrow-down {
      color: #262a32;
      font-size: 0.9rem;
      float: right;
      transition: all 0.4s ease;
      opacity: 0; }
    @media (max-width: 850px) {
      footer .wrapper h3 {
        cursor: pointer;
        transition: all 0.3s ease; }
        footer .wrapper h3:hover {
          color: #84bc22; }
          footer .wrapper h3:hover span.arrow-down {
            color: #84bc22; }
        footer .wrapper h3 span.arrow-down {
          opacity: 0.7; }
          footer .wrapper h3 span.arrow-down.active {
            color: #84bc22;
            transform: rotate(180deg); } }
  footer .wrapper li {
    margin: 0.7142857143rem 0; }
  footer .wrapper .contact {
    width: 17%; }
    footer .wrapper .contact > span a {
      margin-top: 1.2rem;
      color: #84bc22;
      font-weight: bold;
      font-size: 1rem; }
      footer .wrapper .contact > span a:hover {
        color: #a9df4c; }
    footer .wrapper .contact h3 {
      margin-top: 2rem;
      margin-bottom: 0; }
    footer .wrapper .contact ul li {
      margin-bottom: 1.4285714286rem; }
  footer .wrapper .categories {
    width: 40%; }
    footer .wrapper .categories > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      footer .wrapper .categories > div ul li a {
        opacity: 0.7; }
        footer .wrapper .categories > div ul li a:hover {
          color: #84bc22; }
  footer .wrapper .about {
    width: 10%; }
    footer .wrapper .about ul li a {
      opacity: 0.7; }
      footer .wrapper .about ul li a:hover {
        color: #84bc22; }
  @media (max-width: 850px) {
    footer .wrapper .social ul {
      text-align: center;
      padding-top: 1rem; } }
  footer .wrapper .social ul li {
    display: inline-block;
    margin: 0 0.8571428571rem; }
    footer .wrapper .social ul li a svg {
      color: #45413e;
      opacity: 0.5;
      font-size: 1.2rem; }
      footer .wrapper .social ul li a svg path {
        transition: color 0.3s ease; }
      footer .wrapper .social ul li a svg:hover path {
        color: #84bc22; }
