* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

.img {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent; }

html {
  font-size: 1.09375vw; }

body {
  position: relative; }

.wrapper {
  width: 100%;
  padding-left: 4.3%;
  padding-right: 4.3%;
  text-align: center; }

a, button {
  transition: all 0.5s ease; }

main section.slider .wrapper .slider-dots div.img a, main section.slider .wrapper div.advert div.follow a, main section.pop-items .wrapper button.btn {
  display: inline-block;
  text-transform: uppercase;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 35px;
  cursor: pointer; }

/* Header ------------------------------------------------ */
header {
  background-color: #fff;
  border-bottom: 1px solid #ccc; }
  header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; }
    header .wrapper a.logo {
      display: flex;
      align-items: center;
      padding-bottom: 1rem; }
      header .wrapper a.logo img {
        width: 4.5714285714rem;
        height: 4.5714285714rem;
        margin-right: 5px; }
      header .wrapper a.logo div h1 {
        font-size: 2.2857142857rem;
        letter-spacing: 6.33px;
        color: #011847; }
      header .wrapper a.logo div h2 {
        font-size: 1.2857142857rem;
        color: #84bc22; }
    header .wrapper li {
      transition: all 0.3s ease; }
    header .wrapper nav {
      display: flex;
      justify-self: flex-end; }
      header .wrapper nav span.arrow-down {
        font-size: 0.7em;
        color: inherit; }
      header .wrapper nav > ul > li {
        display: inline-block;
        text-transform: uppercase; }
      header .wrapper nav ul.nav-main li {
        margin-top: 1rem;
        padding: 1.0714285714rem 1.4285714286rem 2.5rem 1.4285714286rem;
        border-bottom: 5px solid transparent;
        user-select: none; }
        header .wrapper nav ul.nav-main li span {
          color: #fff; }
        header .wrapper nav ul.nav-main li:hover {
          color: #fff;
          background-color: #262a32;
          border-bottom: 5px solid #84bc22; }
        header .wrapper nav ul.nav-main li.menu-open {
          z-index: 20; }
          header .wrapper nav ul.nav-main li.menu-open:hover .menu {
            opacity: 1;
            visibility: visible; }
          header .wrapper nav ul.nav-main li.menu-open .menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-top: 1.4285714286rem;
            padding-bottom: 2.1428571429rem;
            background-color: #262a32;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            left: 0;
            right: 0;
            top: 6.9285714286rem;
            z-index: 10; }
            header .wrapper nav ul.nav-main li.menu-open .menu * {
              font-size: 1rem;
              color: #fff;
              text-align: left; }
            header .wrapper nav ul.nav-main li.menu-open .menu div.prod-cat {
              width: 40%;
              display: flex;
              flex-direction: column; }
              header .wrapper nav ul.nav-main li.menu-open .menu div.prod-cat > div {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between; }
                header .wrapper nav ul.nav-main li.menu-open .menu div.prod-cat > div > ul {
                  padding-top: 1.0714285714rem; }
                  header .wrapper nav ul.nav-main li.menu-open .menu div.prod-cat > div > ul > li {
                    margin: 0;
                    padding: 0.3571428571rem 0;
                    text-transform: capitalize; }
            header .wrapper nav ul.nav-main li.menu-open .menu div.sale {
              width: 10%;
              display: flex;
              flex-direction: column; }
              header .wrapper nav ul.nav-main li.menu-open .menu div.sale > ul {
                padding-top: 1.0714285714rem; }
                header .wrapper nav ul.nav-main li.menu-open .menu div.sale > ul > li {
                  margin: 0;
                  padding: 0.3571428571rem 0;
                  text-transform: capitalize; }
            header .wrapper nav ul.nav-main li.menu-open .menu img {
              width: 30%;
              height: 100%;
              border-radius: 10px; }
      header .wrapper nav ul.nav-lang {
        margin-right: 3.5714285714rem; }
        header .wrapper nav ul.nav-lang * {
          color: #45413e; }
        header .wrapper nav ul.nav-lang li {
          margin-top: 1rem;
          padding: 1.0714285714rem 1.0714285714rem 2.5rem; }
          header .wrapper nav ul.nav-lang li span {
            margin-left: 5px; }
      header .wrapper nav ul.nav-manage li {
        margin: 2rem 1.4285714286rem 2.5rem; }
        header .wrapper nav ul.nav-manage li a img {
          transform: scale(1.8); }

/* Main -------------------------------------------------- */
main {
  /* Slider ------------------------------------------------ */
  /* Popular Items ----------------------------------------- */
  /* Banner ------------------------------------------------ */
  /* Featured Products ------------------------------------- */
  /* Benefits ---------------------------------------------- */ }
  main section.slider .wrapper {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 36.0714285714rem; }
    main section.slider .wrapper .slider-dots {
      width: 75%;
      margin-right: 2.5%;
      position: relative; }
      main section.slider .wrapper .slider-dots div.img {
        padding: 5rem 4.2857142857rem 7.4285714286rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.8s ease; }
        main section.slider .wrapper .slider-dots div.img * {
          color: #fff; }
        main section.slider .wrapper .slider-dots div.img:nth-child(n) {
          align-items: flex-start;
          text-align: left; }
        main section.slider .wrapper .slider-dots div.img:nth-child(2n) {
          align-items: center;
          text-align: center; }
        main section.slider .wrapper .slider-dots div.img:nth-child(3n) {
          align-items: flex-end;
          text-align: right; }
        main section.slider .wrapper .slider-dots div.img.active {
          opacity: 1;
          visibility: visible; }
        main section.slider .wrapper .slider-dots div.img h3 {
          width: 50%;
          font-size: 2.1428571429rem;
          margin-bottom: 110px; }
        main section.slider .wrapper .slider-dots div.img p {
          width: 40%;
          margin-bottom: 2.1428571429rem; }
        main section.slider .wrapper .slider-dots div.img a {
          padding: 0.5714285714rem 2.5rem;
          opacity: 0.7; }
          main section.slider .wrapper .slider-dots div.img a:hover {
            opacity: 1; }
      main section.slider .wrapper .slider-dots ul.dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 48px; }
        main section.slider .wrapper .slider-dots ul.dots li {
          display: inline-block;
          margin: 0 18px; }
          main section.slider .wrapper .slider-dots ul.dots li button {
            display: inline-block;
            padding: 0.2857142857rem;
            border-radius: 50%;
            opacity: 0.5;
            background-color: #ffffff;
            border: solid 5px transparent;
            cursor: pointer; }
            main section.slider .wrapper .slider-dots ul.dots li button:hover {
              opacity: 1; }
            main section.slider .wrapper .slider-dots ul.dots li button.active {
              opacity: 1;
              background-color: transparent;
              border: solid 5px #ffffff; }
    main section.slider .wrapper div.advert {
      width: 22.5%; }
      main section.slider .wrapper div.advert div.img {
        height: 21.7857142857rem;
        margin-bottom: 1.7857142857rem;
        padding: 2.1428571429rem;
        border-radius: 10px;
        text-align: center; }
        main section.slider .wrapper div.advert div.img * {
          color: #fff; }
        main section.slider .wrapper div.advert div.img span {
          font-size: 7.1428571429rem; }
        main section.slider .wrapper div.advert div.img p {
          margin-top: 2.8571428571rem;
          font-size: 2.1428571429rem;
          text-transform: uppercase; }
      main section.slider .wrapper div.advert div.follow {
        width: 90%;
        margin: 0 auto;
        text-align: center; }
        main section.slider .wrapper div.advert div.follow * {
          background: linear-gradient(to top, #08d2bd, #1b9bb2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
        main section.slider .wrapper div.advert div.follow h4 {
          margin-bottom: 1rem;
          font-size: 1.2857142857rem; }
        main section.slider .wrapper div.advert div.follow p {
          margin-bottom: 1.4285714286rem;
          font-size: 0.9285714286rem; }
        main section.slider .wrapper div.advert div.follow a {
          padding: 0.5714285714rem 1.6428571429rem;
          border-color: #3a5b96; }
          main section.slider .wrapper div.advert div.follow a svg {
            margin-right: 10px;
            color: #3a5b96; }
          main section.slider .wrapper div.advert div.follow a:hover {
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;
            background: #3a5b96;
            color: #fff; }
            main section.slider .wrapper div.advert div.follow a:hover svg {
              color: #fff; }
  main section.pop-items {
    background-color: #262a32; }
    main section.pop-items .wrapper {
      padding-top: 2.1428571429rem;
      padding-bottom: 4.2857142857rem; }
      main section.pop-items .wrapper h2 {
        padding: 1.0714285714rem 0;
        background-color: #262a32;
        background: linear-gradient(to top, #08d2bd, #1b9bb2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        position: relative; }
        main section.pop-items .wrapper h2:before {
          position: absolute;
          bottom: 50%;
          right: 0;
          content: "";
          width: 40%;
          height: 100%;
          background-color: inherit;
          border-bottom: 2px solid #fff;
          opacity: 0.1; }
        main section.pop-items .wrapper h2:after {
          position: absolute;
          top: 50%;
          left: 0;
          content: "";
          width: 40%;
          background-color: inherit;
          border-bottom: 2px solid #fff;
          opacity: 0.1; }
      main section.pop-items .wrapper div.items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1%; }
        main section.pop-items .wrapper div.items .item {
          width: 23%;
          margin: 1%;
          padding-bottom: 1rem;
          background-color: #fff;
          border-radius: 12px;
          text-align: center;
          position: relative; }
          main section.pop-items .wrapper div.items .item:hover .overlay {
            opacity: 0.9;
            visibility: visible; }
          main section.pop-items .wrapper div.items .item .img {
            height: 18.5714285714rem;
            border-radius: 10px 10px 0 0; }
          main section.pop-items .wrapper div.items .item h4.name {
            font-size: 1.1428571429rem;
            width: 80%;
            margin: 1rem auto; }
          main section.pop-items .wrapper div.items .item span {
            font-size: 1rem; }
          main section.pop-items .wrapper div.items .item .paired {
            display: flex;
            justify-content: center;
            align-content: center; }
            main section.pop-items .wrapper div.items .item .paired * {
              padding: 0.7142857143rem 1.2142857143rem;
              border: 3px groove rgba(0, 0, 0, 0.1); }
            main section.pop-items .wrapper div.items .item .paired span {
              border-radius: 30px 0 0 30px;
              color: #24c36c;
              border-right: none; }
            main section.pop-items .wrapper div.items .item .paired button {
              border-radius: 0 30px 30px 0;
              color: #000;
              font-size: 1rem;
              background-color: transparent;
              cursor: pointer;
              text-transform: uppercase; }
              main section.pop-items .wrapper div.items .item .paired button:hover {
                background: linear-gradient(to top, #1cc167, #2ed3a2);
                color: #fff; }
          main section.pop-items .wrapper div.items .item .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(to top, #1cc167, #2ed3a2);
            border-radius: inherit;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease; }
            main section.pop-items .wrapper div.items .item .overlay button {
              display: inline-block;
              background-color: #fff;
              padding: 2.2142857143rem;
              border-radius: 100%;
              border: 1px solid #fff;
              cursor: pointer;
              margin-top: 50%; }
              main section.pop-items .wrapper div.items .item .overlay button:hover {
                background-color: #f2f2f2;
                box-shadow: 0 0 20px #0f6837; }
              main section.pop-items .wrapper div.items .item .overlay button:nth-child(1) {
                margin-right: 1.5714285714rem; }
              main section.pop-items .wrapper div.items .item .overlay button img {
                background-color: transparent;
                width: 2rem;
                height: 2rem; }
          main section.pop-items .wrapper div.items .item.com {
            padding-bottom: 0; }
            main section.pop-items .wrapper div.items .item.com .img {
              height: 100%;
              border-radius: 10px; }
            main section.pop-items .wrapper div.items .item.com .com-overlay {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: linear-gradient(to top, #675b99, #dc5987);
              border-radius: inherit;
              opacity: 0.8;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              padding: 2.5rem 2.1428571429rem;
              text-align: left; }
              main section.pop-items .wrapper div.items .item.com .com-overlay * {
                color: #fff; }
              main section.pop-items .wrapper div.items .item.com .com-overlay blockquote {
                width: 70%;
                font-size: 1.1428571429rem;
                line-height: 1.5; }
                main section.pop-items .wrapper div.items .item.com .com-overlay blockquote p {
                  margin-top: 2.1428571429rem;
                  font-size: 1rem;
                  text-transform: uppercase; }
                  main section.pop-items .wrapper div.items .item.com .com-overlay blockquote p img {
                    margin: 0 0.7rem;
                    transform: scale(1.8); }
      main section.pop-items .wrapper button.btn {
        margin-top: 3.6428571429rem;
        padding: 0.7142857143rem 6.4285714286rem;
        color: #fff;
        font-size: 0.8rem; }
        main section.pop-items .wrapper button.btn:hover {
          background-color: #fff;
          border-color: inherit;
          color: inherit; }
  main section.banner {
    padding: 12.16796875% 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main section.banner * {
      color: #fff; }
    main section.banner div.content {
      text-align: center; }
      main section.banner div.content h2 {
        margin-bottom: 2rem;
        font-size: 3.3571428571rem; }
      main section.banner div.content p {
        width: 26%;
        margin: 0 auto; }
        main section.banner div.content p span {
          color: #ff974e; }
  main section.feat-prod {
    background-color: #262a32; }
    main section.feat-prod .wrapper {
      padding-top: 2.5rem;
      padding-bottom: 4.5714285714rem; }
      main section.feat-prod .wrapper h2 {
        font-size: 2.8571428571rem;
        color: #fff; }
      main section.feat-prod .wrapper p {
        font-size: 1.2857142857rem;
        color: #fff; }
      main section.feat-prod .wrapper div.slider-arrows div.arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        padding: 2.5rem; }
        main section.feat-prod .wrapper div.slider-arrows div.arrows * {
          margin: 0 0.3rem;
          color: #fff; }
        main section.feat-prod .wrapper div.slider-arrows div.arrows button {
          background-color: #383d49;
          font-size: 1rem;
          border: none;
          padding: 0.4285714286rem;
          cursor: pointer; }
          main section.feat-prod .wrapper div.slider-arrows div.arrows button:hover {
            background-color: #474f5d; }
        main section.feat-prod .wrapper div.slider-arrows div.arrows div {
          width: 45%;
          height: 2px;
          background-color: #fff; }
        main section.feat-prod .wrapper div.slider-arrows div.arrows p {
          font-size: 1.4rem;
          font-weight: bold;
          font-style: italic;
          letter-spacing: 2.5px; }
      main section.feat-prod .wrapper div.slider-arrows div.items {
        height: 25.7142857143rem;
        position: relative; }
        main section.feat-prod .wrapper div.slider-arrows div.items .screen {
          width: 95%;
          margin: 0 -1;
          display: flex;
          flex-wrap: nowrap;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          visibility: hidden;
          transition: all 0.8s ease; }
          main section.feat-prod .wrapper div.slider-arrows div.items .screen.active {
            opacity: 1;
            visibility: visible; }
          main section.feat-prod .wrapper div.slider-arrows div.items .screen .item {
            width: 23%;
            margin: 1%;
            padding-bottom: 1.5rem;
            background-color: #fff;
            border-radius: 12px;
            text-align: center; }
            main section.feat-prod .wrapper div.slider-arrows div.items .screen .item .img {
              height: 18.5714285714rem;
              border-radius: 10px 10px 0 0; }
            main section.feat-prod .wrapper div.slider-arrows div.items .screen .item h4.name {
              width: 70%;
              margin: 1rem auto; }
            main section.feat-prod .wrapper div.slider-arrows div.items .screen .item a {
              color: #84bc22; }
  main section.benefits {
    background-color: #45413e; }
    main section.benefits .wrapper {
      margin: 0 -5%;
      padding-top: 3.2142857143rem;
      padding-bottom: 3.2142857143rem;
      display: flex;
      justify-content: space-evenly; }
      main section.benefits .wrapper div.card {
        width: 23%;
        margin: 0 2.5%;
        display: flex;
        align-items: flex-start; }
        main section.benefits .wrapper div.card img {
          transform: scale(1.3);
          margin-top: 1.0714285714rem;
          margin-right: 2.5rem; }
        main section.benefits .wrapper div.card h4 {
          margin-bottom: 1.6428571429rem;
          text-transform: uppercase;
          background: linear-gradient(to top, #08d2bd, #1b9bb2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: left; }
        main section.benefits .wrapper div.card p {
          background: linear-gradient(to top, #08d2bd, #1b9bb2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: left; }

/* Footer ------------------------------------------------ */
footer .wrapper {
  padding-top: 2.2857142857rem;
  padding-bottom: 2.7142857143rem;
  display: flex;
  justify-content: space-between; }
  footer .wrapper * {
    text-align: left;
    font-size: 0.9285714286rem;
    color: #45413e; }
  footer .wrapper h3 {
    text-transform: uppercase;
    background: linear-gradient(to top, #08d2bd, #1b9bb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem; }
  footer .wrapper li {
    margin: 0.7142857143rem 0; }
  footer .wrapper .contact {
    width: 17%; }
    footer .wrapper .contact h3 {
      margin-top: 2rem;
      margin-bottom: 0; }
    footer .wrapper .contact ul li {
      margin-bottom: 1.4285714286rem; }
  footer .wrapper .categories {
    width: 40%; }
    footer .wrapper .categories > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      footer .wrapper .categories > div ul li a {
        opacity: 0.7; }
        footer .wrapper .categories > div ul li a:hover {
          opacity: 1; }
  footer .wrapper .about {
    width: 10%; }
    footer .wrapper .about ul li a {
      opacity: 0.7; }
      footer .wrapper .about ul li a:hover {
        opacity: 1; }
  footer .wrapper .social ul li {
    display: inline-block;
    margin: 0 0.8571428571rem; }
    footer .wrapper .social ul li a img {
      opacity: 0.7;
      transform: scale(1.4); }
