* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

html {
  font-size: 14px; }
  @media (min-width: 1280px) {
    html {
      font-size: 1.09375vw; } }

body {
  position: relative; }
  body.noscroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; }
  @media (max-width: 1010px) {
    body {
      padding-top: 78px; } }
  @media (max-width: 850px) {
    body {
      padding-bottom: 53px; } }

main {
  padding-top: 5.9285714286rem; }
  @media (max-width: 850px) {
    main {
      padding: 0; } }

.wrapper {
  width: 91.4%;
  margin: 0 auto;
  text-align: center; }
  @media (max-width: 1280px) {
    .wrapper {
      width: 95%; } }
  @media (max-width: 640px) {
    .wrapper {
      width: 98%; } }

section {
  overflow: hidden; }

a, button, input[type="submit"] {
  display: inline-block;
  transition: all 0.5s ease; }

.img {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent; }

#signinForm input[type="submit"]#login, div#cookies div.subwrapper button#accept-cookies, main section.product .wrapper .sub-wrapper .overview .about .add > button, main section.product .wrapper .sub-wrapper .overview .about .share button {
  text-transform: uppercase;
  font-size: 1.1428571429rem;
  padding: 0.5714285714rem 1.4285714286rem;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 35px;
  cursor: pointer; }

@media print {
  main section.product .wrapper .sub-wrapper .overview .large, main section.product .wrapper .sub-wrapper .overview .small, main section.product .wrapper .sub-wrapper .overview .about span.price, main section.product .wrapper .sub-wrapper .overview .about div.colorpick > select, main section.product .wrapper .sub-wrapper .overview .about div.colorpick > ul, main section.product .wrapper .sub-wrapper .overview .about p, main section.product .wrapper .sub-wrapper .overview .large *, main section.product .wrapper .sub-wrapper .overview .small *, main section.product .wrapper .sub-wrapper .overview .about span.price *, main section.product .wrapper .sub-wrapper .overview .about div.colorpick > select *, main section.product .wrapper .sub-wrapper .overview .about div.colorpick > ul *, main section.product .wrapper .sub-wrapper .overview .about p * {
    overflow: visible;
    visibility: visible; } }

main section.product .wrapper .sub-wrapper .overview .about div.colorpick > select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  border: 0.15rem solid #e8e2d6;
  border-radius: 35px;
  padding: 0.5714285714rem 1.4285714286rem;
  font-size: 1.1428571429rem;
  background-color: #ffffff;
  color: #45413e;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.4s ease;
  background: url("../img/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-size: 0.6rem; }
  main section.product .wrapper .sub-wrapper .overview .about div.colorpick > select:hover {
    border-color: #84bc22; }

main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick {
  display: inline-block;
  margin-right: 1.7142857143rem;
  position: relative; }
  main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick > input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 100%;
    border: 0.15rem solid #e8e2d6;
    border-radius: 35px;
    padding: 0.5714285714rem 1.4285714286rem;
    font-size: 1.1428571429rem;
    background-color: #ffffff;
    background: linear-gradient(to top, #08d2bd, #1b9bb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center; }
    main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick > input[type="number"]::-webkit-inner-spin-button, main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick > input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none; }
    @media print {
      main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick > input[type="number"] {
        visibility: visible;
        background: transparent;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial; } }
  main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #999999;
    font-size: 1.2857142857rem;
    width: 1.4285714286rem;
    height: 1.4285714286rem;
    border-radius: 50%;
    transition: all 0.5s ease; }
    main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick > button:hover {
      background-color: #f1eee6; }
    main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick > button.minus {
      left: 15%; }
    main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick > button.plus {
      right: 15%; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  overflow: hidden;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  cursor: pointer; }
  #overlay.active {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.74);
    visibility: visible; }

#signinForm {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: #ffffff;
  padding: 3.5714285714rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  cursor: initial;
  text-align: center;
  border-radius: 10px; }
  #signinForm.active {
    opacity: 1;
    visibility: visible; }
  #signinForm:after {
    content: "";
    display: table;
    clear: both; }
  #signinForm * {
    user-select: none; }
  #signinForm h3 {
    color: #45413e;
    font-size: 2.1428571429rem;
    margin-bottom: 3rem; }
  #signinForm label {
    color: #45413e;
    font-size: 1rem;
    margin-bottom: 1rem;
    float: left;
    display: inline-block; }
  #signinForm a {
    display: inline-block;
    color: #84bc22;
    font-size: 0.8571428571rem; }
    #signinForm a:hover {
      color: #9fdb36; }
  #signinForm div.forgot:after {
    content: "";
    display: table;
    clear: both; }
  #signinForm div.forgot > a {
    float: right; }
  #signinForm input[type="email"], #signinForm input[type="password"], #signinForm input[type="text"] {
    width: 100%;
    border: 0.15rem solid #d7d7d7;
    background-color: #ffffff;
    padding: 0.8571428571rem 1.4285714286rem;
    border-radius: 35px;
    transition: all 0.5s ease; }
    #signinForm input[type="email"]:focus:invalid, #signinForm input[type="email"]:focus:empty, #signinForm input[type="password"]:focus:invalid, #signinForm input[type="password"]:focus:empty, #signinForm input[type="text"]:focus:invalid, #signinForm input[type="text"]:focus:empty {
      border-color: red; }
    #signinForm input[type="email"]:focus:valid, #signinForm input[type="password"]:focus:valid, #signinForm input[type="text"]:focus:valid {
      border-color: #84bc22; }
  #signinForm input[type="email"] {
    margin-bottom: 2.1428571429rem; }
  #signinForm div.password {
    position: relative; }
    #signinForm div.password span.showPassword {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem; }
      #signinForm div.password span.showPassword svg {
        color: #4f4e4c;
        width: 1.2857142857rem;
        height: 1.2857142857rem; }
  #signinForm input[type="submit"]#login {
    display: block;
    margin: 4.2857142857rem auto 1.5714285714rem;
    padding: 0.5714285714rem 5rem;
    border-color: transparent;
    color: #ffffff;
    background-color: #84bc22; }
    #signinForm input[type="submit"]#login:hover {
      color: #84bc22;
      border-color: #84bc22;
      background-color: transparent; }

div#cookies {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: #ffffff;
  padding: 1.7857142857rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  cursor: initial;
  border-radius: 10px; }
  div#cookies.active {
    opacity: 1;
    visibility: visible; }
  div#cookies div.subwrapper {
    text-align: left;
    position: relative; }
    div#cookies div.subwrapper h6, div#cookies div.subwrapper a {
      color: #84bc22; }
    div#cookies div.subwrapper h6 {
      margin-bottom: 1.1428571429rem;
      font-size: 1.1428571429rem;
      line-height: 1.5; }
    div#cookies div.subwrapper p {
      width: 80%;
      color: #45413e;
      font-size: 1rem;
      line-height: 1.71; }
    div#cookies div.subwrapper button#accept-cookies {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.6428571429rem 3.2857142857rem;
      border-color: transparent;
      color: #ffffff;
      background-color: #84bc22; }
      div#cookies div.subwrapper button#accept-cookies:hover {
        color: #84bc22;
        border-color: #84bc22;
        background-color: transparent; }
    div#cookies div.subwrapper span#close-cookies {
      position: absolute;
      top: -10%;
      right: 0;
      cursor: pointer;
      transition: all 0.3s ease; }
      div#cookies div.subwrapper span#close-cookies svg {
        font-size: 1.5rem; }
      div#cookies div.subwrapper span#close-cookies:hover svg path {
        fill: #84bc22; }

/* Header ------------------------------------------------ */
/* Header ------------------------------------------------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc; }
  header > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    @media (max-width: 1010px) {
      header > .wrapper {
        padding-top: 1rem;
        flex-direction: column;
        align-items: center; } }
    @media (max-width: 850px) {
      header > .wrapper {
        padding: 1rem;
        flex-direction: row;
        justify-content: flex-start; } }
    header > .wrapper button#hamburger {
      background-color: transparent;
      border: none;
      margin-right: 1rem;
      width: 4.1rem;
      height: 4.1rem;
      font-size: 1.7rem;
      color: #45413e;
      cursor: pointer;
      display: none;
      position: relative; }
      header > .wrapper button#hamburger > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden; }
        header > .wrapper button#hamburger > span.active {
          opacity: 1;
          visibility: visible; }
      header > .wrapper button#hamburger:hover {
        color: #84bc22; }
      @media (max-width: 850px) {
        header > .wrapper button#hamburger {
          display: block; } }
    header > .wrapper a.logo {
      display: flex;
      align-self: center; }
      @media (max-width: 850px) {
        header > .wrapper a.logo {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); } }
      @media (max-width: 640px) {
        header > .wrapper a.logo {
          left: unset;
          right: 1rem;
          transform: translate(0, -50%); } }
      header > .wrapper a.logo img {
        width: 4.5714285714rem;
        height: 4.5714285714rem;
        margin-right: 5px; }
      header > .wrapper a.logo div h1 {
        font-size: 2.2857142857rem;
        letter-spacing: 6.33px;
        color: #011847; }
      header > .wrapper a.logo div h2 {
        font-size: 1.2857142857rem;
        color: #84bc22; }
    header > .wrapper nav > ul {
      display: flex;
      align-items: flex-end; }
      header > .wrapper nav > ul > li {
        display: inline-block;
        padding: 1.0714285714rem 1.4285714286rem 2.1428571429rem 1.4285714286rem;
        transition: all 0.3s ease;
        user-select: none; }
        @media (max-width: 1280px) {
          header > .wrapper nav > ul > li {
            padding: 1.0714285714rem 1.0714285714rem 2.1428571429rem 1.0714285714rem; } }
        header > .wrapper nav > ul > li:hover {
          color: #ffffff; }
        header > .wrapper nav > ul > li > span.arrow-down {
          font-size: 0.7em;
          margin-left: 0.5714285714rem;
          color: #45413e;
          opacity: 0.7; }
          @media (max-width: 850px) {
            header > .wrapper nav > ul > li > span.arrow-down {
              color: #ffffff; } }
    header > .wrapper nav {
      display: flex;
      justify-self: flex-end;
      justify-content: space-around;
      padding-top: 1rem; }
      @media (max-width: 1280px) {
        header > .wrapper nav {
          justify-self: center;
          justify-content: space-between; } }
      header > .wrapper nav ul.nav-main {
        transition: all 0.5s ease; }
        @media (max-width: 850px) {
          header > .wrapper nav ul.nav-main {
            position: absolute;
            top: 86px;
            left: 0;
            transform: translate(-50%, -50%);
            right: 0;
            padding-top: 1rem;
            flex-direction: column;
            align-items: flex-start;
            background-color: #262a32;
            opacity: 0;
            visibility: hidden; }
            header > .wrapper nav ul.nav-main * {
              color: #ffffff; }
            header > .wrapper nav ul.nav-main.active {
              transform: translate(0, 0);
              opacity: 1;
              visibility: visible; } }
        header > .wrapper nav ul.nav-main > li {
          text-transform: uppercase;
          border-bottom: 5px solid transparent; }
          header > .wrapper nav ul.nav-main > li:hover {
            background-color: #262a32;
            border-bottom: 5px solid #84bc22; }
            header > .wrapper nav ul.nav-main > li:hover * {
              color: #ffffff; }
          @media (max-width: 850px) {
            header > .wrapper nav ul.nav-main > li {
              width: 100%;
              padding-left: 2%;
              padding-right: 2%;
              text-align: left;
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              flex-wrap: wrap; } }
          header > .wrapper nav ul.nav-main > li.menu-open {
            z-index: 20; }
            @media (min-width: 851px) {
              header > .wrapper nav ul.nav-main > li.menu-open:hover .menu {
                opacity: 1;
                visibility: visible; } }
            header > .wrapper nav ul.nav-main > li.menu-open .menu {
              background-color: #262a32;
              position: absolute;
              opacity: 0;
              visibility: hidden;
              left: 0;
              right: 0;
              top: 5.9285714286rem;
              z-index: 50;
              transition: all 0.4s ease; }
              @media (max-width: 1010px) {
                header > .wrapper nav ul.nav-main > li.menu-open .menu {
                  top: 161px; } }
              @media (max-width: 850px) {
                header > .wrapper nav ul.nav-main > li.menu-open .menu {
                  top: 83px;
                  z-index: 100;
                  width: 100%; }
                  header > .wrapper nav ul.nav-main > li.menu-open .menu.active {
                    position: relative;
                    opacity: 1;
                    visibility: visible; } }
              header > .wrapper nav ul.nav-main > li.menu-open .menu > .wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                padding-top: 2.1428571429rem;
                padding-bottom: 2.1428571429rem; }
                @media (max-width: 850px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu > .wrapper {
                    flex-direction: column; } }
              header > .wrapper nav ul.nav-main > li.menu-open .menu * {
                font-size: 1rem;
                color: #ffffff;
                text-align: left; }
              header > .wrapper nav ul.nav-main > li.menu-open .menu h3 {
                padding-bottom: 0.7142857143rem; }
              header > .wrapper nav ul.nav-main > li.menu-open .menu li {
                padding: 0.4285714286rem 0;
                text-transform: capitalize;
                transition: all 0.2s ease; }
                header > .wrapper nav ul.nav-main > li.menu-open .menu li:hover a {
                  color: #84bc22; }
              header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat {
                width: 40%;
                display: flex;
                flex-direction: column; }
                @media (max-width: 850px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat {
                    width: 100%;
                    padding: 1rem; } }
                header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat > div {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: space-between; }
                  @media (max-width: 850px) {
                    header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat > div {
                      padding: 0 1rem; } }
              header > .wrapper nav ul.nav-main > li.menu-open .menu div.sale {
                width: 10%;
                display: flex;
                flex-direction: column; }
                @media (max-width: 850px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu div.sale {
                    width: 100%;
                    padding: 1rem; } }
                @media (max-width: 850px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu div.sale > ul {
                    padding: 0 1rem; } }
              header > .wrapper nav ul.nav-main > li.menu-open .menu img {
                width: 30%;
                height: 100%;
                border-radius: 10px; }
                @media (max-width: 850px) {
                  header > .wrapper nav ul.nav-main > li.menu-open .menu img {
                    align-self: center; } }
      header > .wrapper nav ul.nav-lang {
        margin-right: 3.5714285714rem; }
        @media (max-width: 1280px) {
          header > .wrapper nav ul.nav-lang {
            margin-right: 0; } }
        @media (max-width: 850px) {
          header > .wrapper nav ul.nav-lang {
            display: none; } }
        header > .wrapper nav ul.nav-lang * {
          color: #45413e; }
        header > .wrapper nav ul.nav-lang > li {
          border-bottom: 5px solid transparent;
          color: rgba(69, 65, 62, 0.5); }
          header > .wrapper nav ul.nav-lang > li:hover {
            background-color: #262a32;
            border-bottom: 5px solid #84bc22;
            color: #ffffff; }
            header > .wrapper nav ul.nav-lang > li:hover * {
              color: #ffffff; }
          header > .wrapper nav ul.nav-lang > li.lang-open, header > .wrapper nav ul.nav-lang > li.currency-open {
            z-index: 20; }
            header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu {
              background-color: #262a32;
              position: absolute;
              opacity: 0;
              visibility: hidden;
              top: 5.9285714286rem;
              z-index: 10;
              transition: all 0.4s ease; }
              @media (max-width: 1010px) {
                header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu {
                  top: 161px; } }
              header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu li, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu li, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu li, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu li {
                padding: 0.4285714286rem 0;
                text-transform: capitalize;
                transition: all 0.2s ease;
                cursor: pointer; }
                header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu li:hover, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu li:hover, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu li:hover, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu li:hover {
                  opacity: 0.6; }
            header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu {
              width: 5.5714285714rem;
              transform: translateX(-1.4285714286rem); }
            header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu {
              width: 9.2857142857rem;
              transform: translateX(-30%); }
          header > .wrapper nav ul.nav-lang > li.lang-open:hover .lang-menu {
            opacity: 1;
            visibility: visible; }
          header > .wrapper nav ul.nav-lang > li.currency-open:hover .currency-menu {
            opacity: 1;
            visibility: visible; }
      @media (max-width: 850px) {
        header > .wrapper nav ul.nav-manage {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 20;
          justify-content: center;
          background-color: #262a32; } }
      @media (max-width: 850px) {
        header > .wrapper nav ul.nav-manage > li {
          padding: 1.0714285714rem; } }
      header > .wrapper nav ul.nav-manage > li button, header > .wrapper nav ul.nav-manage > li a {
        background-color: transparent;
        border: none;
        position: relative;
        cursor: pointer; }
        header > .wrapper nav ul.nav-manage > li button svg, header > .wrapper nav ul.nav-manage > li a svg {
          color: #45413e;
          opacity: 0.5;
          font-size: 1.7rem; }
          @media (max-width: 850px) {
            header > .wrapper nav ul.nav-manage > li button svg, header > .wrapper nav ul.nav-manage > li a svg {
              color: #ffffff; } }
          header > .wrapper nav ul.nav-manage > li button svg path, header > .wrapper nav ul.nav-manage > li a svg path {
            transition: all 0.3s ease; }
          header > .wrapper nav ul.nav-manage > li button svg:hover path, header > .wrapper nav ul.nav-manage > li a svg:hover path {
            color: #84bc22; }
        header > .wrapper nav ul.nav-manage > li button#wishlist > span, header > .wrapper nav ul.nav-manage > li button#cart > span, header > .wrapper nav ul.nav-manage > li a#wishlist > span, header > .wrapper nav ul.nav-manage > li a#cart > span {
          position: absolute;
          display: inline-block;
          top: -40%;
          right: -50%;
          font-size: 0.6rem;
          color: #84bc22;
          background-color: #ffffff;
          border: 0.15rem solid #84bc22;
          padding: 0.1428571429rem 0.3571428571rem;
          border-radius: 50%;
          z-index: 15; }
          @media (max-width: 850px) {
            header > .wrapper nav ul.nav-manage > li button#wishlist > span, header > .wrapper nav ul.nav-manage > li button#cart > span, header > .wrapper nav ul.nav-manage > li a#wishlist > span, header > .wrapper nav ul.nav-manage > li a#cart > span {
              background-color: transparent; } }

@media print {
  * {
    visibility: hidden; } }
/* Main -------------------------------------------------- */
main {
  /* Breadcrumbs ----------------------------------------- */
  /* Breadcrumbs ----------------------------------------- */
  /* Sass: $length [%], $length-color [#...] */
  /* Product ----------------------------------------- */
  /* Popular Items ----------------------------------------- */
  /* Benefits ---------------------------------------------- */
  /* Benefits ---------------------------------------------- */ }
  main section.breadcrumbs {
    background-color: #F1EDEA; }
    main section.breadcrumbs .wrapper {
      padding-top: 3.5714285714rem;
      padding-bottom: 2.1428571429rem; }
      @media (max-width: 850px) {
        main section.breadcrumbs .wrapper {
          padding-top: 2.5rem;
          padding-bottom: 1.0714285714rem; } }
      @media print {
        main section.breadcrumbs .wrapper > ul, main section.breadcrumbs .wrapper > ul * {
          visibility: visible; } }
      main section.breadcrumbs .wrapper > ul li {
        display: inline-block;
        margin: 0 0.4rem; }
        main section.breadcrumbs .wrapper > ul li a {
          color: #84bc22; }
          main section.breadcrumbs .wrapper > ul li a:hover {
            color: #a9df4c; }
      main section.breadcrumbs .wrapper h2 {
        padding: 1.0714285714rem 0 1.4285714286rem;
        text-align: center;
        position: relative;
        font-size: 3.4285714286rem; }
        @media (max-width: 640px) {
          main section.breadcrumbs .wrapper h2 {
            font-size: 2.1428571429rem; } }
        @media print {
          main section.breadcrumbs .wrapper h2 {
            visibility: visible; }
          main section.breadcrumbs .wrapper h2:after, main section.breadcrumbs .wrapper h2:before {
            visibility: hidden; } }
        main section.breadcrumbs .wrapper h2:before {
          position: absolute;
          bottom: 50%;
          right: 0;
          content: "";
          width: 20%;
          background-color: transparent;
          border-bottom: 0.1rem solid #e5e2df; }
          @media (max-width: 500px) {
            main section.breadcrumbs .wrapper h2:before {
              width: 16%; } }
        main section.breadcrumbs .wrapper h2:after {
          position: absolute;
          top: 50%;
          left: 0;
          content: "";
          width: 20%;
          background-color: transparent;
          border-bottom: 0.1rem solid #e5e2df; }
          @media (max-width: 500px) {
            main section.breadcrumbs .wrapper h2:after {
              width: 16%; } }
  main section.product {
    background-color: #F1EDEA; }
    main section.product .wrapper {
      background-color: #ffffff; }
      main section.product .wrapper .sub-wrapper {
        background-color: #ffffff;
        border-radius: 10px; }
        main section.product .wrapper .sub-wrapper .overview {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          position: relative; }
          main section.product .wrapper .sub-wrapper .overview > svg {
            font-size: 1.5714285714rem;
            position: absolute;
            top: 2.4285714286rem;
            left: 2rem;
            z-index: 10; }
            main section.product .wrapper .sub-wrapper .overview > svg path {
              fill: #84bc22; }
          main section.product .wrapper .sub-wrapper .overview .large {
            width: 50%;
            padding: 1rem; }
            main section.product .wrapper .sub-wrapper .overview .large img {
              width: 100%;
              cursor: pointer;
              transition: opacity 0.7s ease;
              opacity: 0;
              visibility: hidden;
              position: absolute; }
              main section.product .wrapper .sub-wrapper .overview .large img.active {
                position: relative;
                opacity: 1;
                visibility: visible; }
                main section.product .wrapper .sub-wrapper .overview .large img.active:hover {
                  opacity: 0.7; }
              main section.product .wrapper .sub-wrapper .overview .large img.full {
                position: absolute;
                opacity: 1;
                visibility: visible;
                z-index: 110;
                width: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); }
          main section.product .wrapper .sub-wrapper .overview .small {
            width: 10%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start; }
            main section.product .wrapper .sub-wrapper .overview .small img {
              width: 5rem;
              height: 5rem;
              border: solid 1px #45413e;
              margin: 1rem 0;
              cursor: pointer;
              transition: all 0.3s ease; }
              main section.product .wrapper .sub-wrapper .overview .small img:hover {
                opacity: 0.5;
                border: solid 1px #84bc22; }
              main section.product .wrapper .sub-wrapper .overview .small img.active {
                opacity: 0.5;
                border: solid 1px #84bc22; }
          main section.product .wrapper .sub-wrapper .overview .about {
            width: 40%;
            padding: 3rem 2rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start; }
            main section.product .wrapper .sub-wrapper .overview .about span.price {
              font-size: 3.4285714286rem;
              margin-bottom: 2.8571428571rem; }
            main section.product .wrapper .sub-wrapper .overview .about div.colorpick {
              display: inline-block;
              width: 100%;
              margin-bottom: 1.7142857143rem;
              position: relative;
              text-align: left; }
              main section.product .wrapper .sub-wrapper .overview .about div.colorpick > select {
                padding: 0.5714285714rem 1.4285714286rem 0.5714285714rem 3.2142857143rem;
                width: 42%; }
              main section.product .wrapper .sub-wrapper .overview .about div.colorpick > ul {
                display: inline-block;
                position: absolute;
                top: 20%;
                left: 0.7857142857rem; }
                main section.product .wrapper .sub-wrapper .overview .about div.colorpick > ul > li {
                  display: inline-block;
                  position: absolute;
                  background-color: #ddd;
                  padding: 0.8571428571rem;
                  border-radius: 50%;
                  opacity: 0;
                  visibility: hidden; }
                  main section.product .wrapper .sub-wrapper .overview .about div.colorpick > ul > li.active {
                    opacity: 1;
                    visibility: visible; }
            main section.product .wrapper .sub-wrapper .overview .about .add {
              width: 100%;
              margin-bottom: 3.4285714286rem;
              text-align: left; }
              main section.product .wrapper .sub-wrapper .overview .about .add > .amountpick {
                width: 30%; }
              main section.product .wrapper .sub-wrapper .overview .about .add > button {
                width: 42%;
                border-color: #e8e2d6;
                color: #ffffff; }
                main section.product .wrapper .sub-wrapper .overview .about .add > button:hover {
                  background-color: transparent;
                  color: #84bc22; }
            main section.product .wrapper .sub-wrapper .overview .about p {
              text-align: left;
              color: #45413e;
              line-height: 1.5;
              transition: all 0.5s ease;
              overflow: hidden; }
            main section.product .wrapper .sub-wrapper .overview .about button.more {
              display: block;
              background-color: transparent;
              border: none;
              color: #84bc22;
              font-size: 1.1428571429rem;
              text-align: center;
              cursor: pointer;
              margin: 1.7142857143rem 0;
              transition: all 0.5s ease; }
              main section.product .wrapper .sub-wrapper .overview .about button.more:hover {
                text-decoration: underline; }
            main section.product .wrapper .sub-wrapper .overview .about .share {
              width: 100%;
              text-align: left; }
              main section.product .wrapper .sub-wrapper .overview .about .share button {
                display: block;
                width: 42%;
                border-color: #e8e2d6;
                color: #ffffff;
                margin-bottom: 1.7142857143rem; }
                main section.product .wrapper .sub-wrapper .overview .about .share button:hover {
                  background-color: transparent;
                  color: #84bc22; }
              main section.product .wrapper .sub-wrapper .overview .about .share span {
                color: #45413e;
                opacity: 0.5;
                margin-right: 2.2142857143rem; }
              main section.product .wrapper .sub-wrapper .overview .about .share ul {
                display: inline-block; }
                main section.product .wrapper .sub-wrapper .overview .about .share ul li {
                  display: inline-block;
                  margin-right: 1.0714285714rem; }
                  main section.product .wrapper .sub-wrapper .overview .about .share ul li > a svg {
                    color: #45413e;
                    opacity: 0.5;
                    font-size: 1.2rem; }
                    main section.product .wrapper .sub-wrapper .overview .about .share ul li > a svg path {
                      transition: all 0.3s ease; }
                    main section.product .wrapper .sub-wrapper .overview .about .share ul li > a svg:hover path {
                      color: #84bc22; }
        main section.product .wrapper .sub-wrapper .info {
          margin-top: 5rem; }
          main section.product .wrapper .sub-wrapper .info > ul {
            text-align: center; }
            main section.product .wrapper .sub-wrapper .info > ul li {
              display: inline-block;
              margin: 0 1rem;
              padding: 1.5rem 3rem;
              font-size: 1.7142857143rem;
              border-radius: 2rem 2rem 0 0;
              color: #bdc3c7;
              background-color: inherit;
              transition: all 0.2s ease;
              cursor: pointer; }
              main section.product .wrapper .sub-wrapper .info > ul li:hover {
                color: #ffffff;
                background-color: #262a32; }
              main section.product .wrapper .sub-wrapper .info > ul li.active {
                color: #ffffff;
                background-color: #262a32; }
          main section.product .wrapper .sub-wrapper .info .tab-box {
            background-color: #262a32;
            position: relative; }
            main section.product .wrapper .sub-wrapper .info .tab-box .tab {
              height: 25rem;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              align-items: flex-start;
              padding: 5rem;
              overflow: hidden;
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              opacity: 0;
              visibility: hidden;
              transition: all 0.6s ease; }
              main section.product .wrapper .sub-wrapper .info .tab-box .tab p {
                width: 48%;
                color: #ffffff;
                margin-bottom: 2rem;
                text-align: left;
                font-size: 1.1428571429rem;
                line-height: 1.5; }
              main section.product .wrapper .sub-wrapper .info .tab-box .tab.active {
                position: relative;
                visibility: visible;
                opacity: 1; }
  main section.pop-items {
    background-color: #F1EDEA; }
    main section.pop-items .wrapper {
      padding-top: 1.4285714286rem;
      padding-bottom: 3.5714285714rem; }
      main section.pop-items .wrapper h2 {
        font-size: 1.7142857143rem;
        padding: 1.7857142857rem 0;
        background: linear-gradient(to top, #08d2bd, #1b9bb2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        text-transform: uppercase;
        position: relative; }
        main section.pop-items .wrapper h2:before {
          position: absolute;
          bottom: 50%;
          right: 0;
          content: "";
          width: 40%;
          height: 100%;
          background-color: inherit;
          border-bottom: 0.15rem solid #e5e2df; }
        main section.pop-items .wrapper h2:after {
          position: absolute;
          top: 50%;
          left: 0;
          content: "";
          width: 40%;
          background-color: inherit;
          border-bottom: 0.15rem solid #e5e2df; }
      main section.pop-items .wrapper div.items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 -1%; }
        main section.pop-items .wrapper div.items .item {
          width: 23%;
          margin: 1%;
          padding-bottom: 1rem;
          background-color: #ffffff;
          border-radius: 12px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative; }
          main section.pop-items .wrapper div.items .item:hover .overlay {
            opacity: 0.9;
            visibility: visible; }
          main section.pop-items .wrapper div.items .item .img {
            height: 18.5714285714rem;
            border-radius: 10px 10px 0 0; }
          main section.pop-items .wrapper div.items .item h4.name {
            font-size: 1.1428571429rem;
            width: 90%;
            margin: 1rem auto; }
          main section.pop-items .wrapper div.items .item span {
            display: inline-block;
            font-size: 1rem;
            margin-bottom: 1rem; }
          main section.pop-items .wrapper div.items .item .paired {
            display: flex;
            justify-content: center;
            align-content: center; }
            main section.pop-items .wrapper div.items .item .paired span {
              margin: 0;
              padding: 0.7142857143rem 1.2142857143rem;
              border: 3px groove rgba(0, 0, 0, 0.1);
              border-radius: 30px 0 0 30px;
              border-right: none; }
              main section.pop-items .wrapper div.items .item .paired span a {
                color: #24c36c; }
            main section.pop-items .wrapper div.items .item .paired button {
              padding: 0.7142857143rem 1.2142857143rem;
              border: 3px groove rgba(0, 0, 0, 0.1);
              border-radius: 0 30px 30px 0;
              color: #000;
              font-size: 1rem;
              background-color: transparent;
              cursor: pointer;
              text-transform: uppercase; }
              main section.pop-items .wrapper div.items .item .paired button:hover {
                background: linear-gradient(to top, #1cc167, #2ed3a2);
                color: #ffffff; }
          main section.pop-items .wrapper div.items .item .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(to top, #1cc167, #2ed3a2);
            border-radius: inherit;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease; }
            main section.pop-items .wrapper div.items .item .overlay button {
              display: inline-block;
              background-color: #ffffff;
              padding: 2.2142857143rem;
              border-radius: 100%;
              border: 1px solid #ffffff;
              cursor: pointer;
              margin-top: 50%; }
              main section.pop-items .wrapper div.items .item .overlay button:hover {
                background-color: #f2f2f2;
                box-shadow: 0 0 20px #0f6837; }
              main section.pop-items .wrapper div.items .item .overlay button:nth-child(1) {
                margin-right: 1.5714285714rem; }
              main section.pop-items .wrapper div.items .item .overlay button img {
                background-color: transparent;
                width: 2rem;
                height: 2rem; }
          main section.pop-items .wrapper div.items .item.com {
            padding-bottom: 0; }
            main section.pop-items .wrapper div.items .item.com .img {
              height: 100%;
              border-radius: 10px; }
            main section.pop-items .wrapper div.items .item.com .com-overlay {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: linear-gradient(to top, #675b99, #dc5987);
              border-radius: inherit;
              opacity: 0.8;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              padding: 2.5rem 2.1428571429rem;
              text-align: left; }
              main section.pop-items .wrapper div.items .item.com .com-overlay * {
                color: #ffffff; }
              main section.pop-items .wrapper div.items .item.com .com-overlay blockquote {
                width: 70%;
                font-size: 1.1428571429rem;
                line-height: 1.5; }
                main section.pop-items .wrapper div.items .item.com .com-overlay blockquote p {
                  margin-top: 2.1428571429rem;
                  font-size: 1rem;
                  text-transform: uppercase; }
                  main section.pop-items .wrapper div.items .item.com .com-overlay blockquote p img {
                    margin: 0 0.7rem;
                    transform: scale(1.8); }
  main section.benefits {
    background-color: #45413e; }
    main section.benefits .wrapper {
      padding-top: 3.2142857143rem;
      padding-bottom: 3.2142857143rem;
      display: flex;
      justify-content: space-between; }
      main section.benefits .wrapper div.card {
        width: 27%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between; }
        main section.benefits .wrapper div.card img {
          width: 12rem;
          margin-right: 2.5rem; }
        main section.benefits .wrapper div.card h4 {
          margin-bottom: 1.6428571429rem;
          text-transform: uppercase;
          background: linear-gradient(to top, #08d2bd, #1b9bb2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: left; }
        main section.benefits .wrapper div.card p {
          background: linear-gradient(to top, #08d2bd, #1b9bb2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: left; }
  main section.benefits .wrapper div.card {
    width: 30%; }
    main section.benefits .wrapper div.card img {
      width: 9rem; }
    main section.benefits .wrapper div.card h4 {
      background: none;
      -webkit-background-clip: none;
      -webkit-text-fill-color: #ffffff;
      color: #ffffff; }
    main section.benefits .wrapper div.card p {
      background: none;
      -webkit-background-clip: none;
      -webkit-text-fill-color: #88807b;
      color: #88807b; }

/* Footer ------------------------------------------------ */
/* Footer ------------------------------------------------ */
footer .wrapper {
  padding-top: 2.2857142857rem;
  padding-bottom: 2.7142857143rem;
  display: flex;
  justify-content: space-between; }
  footer .wrapper * {
    text-align: left;
    font-size: 0.9285714286rem;
    color: #45413e; }
  footer .wrapper h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #45413e;
    font-weight: 600; }
  footer .wrapper li {
    margin: 0.7142857143rem 0; }
  footer .wrapper .contact {
    width: 17%; }
    footer .wrapper .contact h3 {
      margin-top: 2rem;
      margin-bottom: 0; }
    footer .wrapper .contact ul li {
      margin-bottom: 1.4285714286rem; }
  footer .wrapper .categories {
    width: 40%; }
    footer .wrapper .categories > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      footer .wrapper .categories > div ul li a {
        opacity: 0.7; }
        footer .wrapper .categories > div ul li a:hover {
          color: #84bc22; }
  footer .wrapper .about {
    width: 10%; }
    footer .wrapper .about ul li a {
      opacity: 0.7; }
      footer .wrapper .about ul li a:hover {
        color: #84bc22; }
  footer .wrapper .social ul li {
    display: inline-block;
    margin: 0 0.8571428571rem; }
    footer .wrapper .social ul li a svg {
      color: #45413e;
      opacity: 0.5;
      font-size: 1.2rem; }
      footer .wrapper .social ul li a svg path {
        transition: all 0.3s ease; }
      footer .wrapper .social ul li a svg:hover path {
        color: #84bc22; }
