* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

html {
  font-size: 14px; }
  @media (min-width: 1280px) {
    html {
      font-size: 1.09375vw; } }

body {
  position: relative; }
  body.noscroll {
    overflow: hidden; }

main {
  padding-top: 5.9285714286rem; }

.wrapper {
  width: 91.4%;
  margin: 0 auto;
  text-align: center; }

section {
  overflow: hidden; }

a, button, input[type="submit"] {
  display: inline-block;
  transition: all 0.5s ease; }

.img {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent; }

#signinForm input[type="submit"]#login, div#cookies div.subwrapper button#accept-cookies {
  text-transform: uppercase;
  font-size: 1.1428571429rem;
  padding: 0.5714285714rem 1.4285714286rem;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 35px;
  cursor: pointer; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  overflow: hidden;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  cursor: pointer; }
  #overlay.active {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.74);
    visibility: visible; }

#signinForm {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: #ffffff;
  padding: 3.5714285714rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  cursor: initial;
  text-align: center;
  border-radius: 10px; }
  #signinForm.active {
    opacity: 1;
    visibility: visible; }
  #signinForm:after {
    content: "";
    display: table;
    clear: both; }
  #signinForm * {
    user-select: none; }
  #signinForm h3 {
    color: #45413e;
    font-size: 2.1428571429rem;
    margin-bottom: 3rem; }
  #signinForm label {
    color: #45413e;
    font-size: 1rem;
    margin-bottom: 1rem;
    float: left;
    display: inline-block; }
  #signinForm a {
    display: inline-block;
    color: #84bc22;
    font-size: 0.8571428571rem; }
    #signinForm a:hover {
      color: #9fdb36; }
  #signinForm div.forgot:after {
    content: "";
    display: table;
    clear: both; }
  #signinForm div.forgot > a {
    float: right; }
  #signinForm input[type="email"], #signinForm input[type="password"], #signinForm input[type="text"] {
    width: 100%;
    border: 0.15rem solid #d7d7d7;
    background-color: #ffffff;
    padding: 0.8571428571rem 1.4285714286rem;
    border-radius: 35px;
    transition: all 0.5s ease; }
    #signinForm input[type="email"]:focus:invalid, #signinForm input[type="email"]:focus:empty, #signinForm input[type="password"]:focus:invalid, #signinForm input[type="password"]:focus:empty, #signinForm input[type="text"]:focus:invalid, #signinForm input[type="text"]:focus:empty {
      border-color: red; }
    #signinForm input[type="email"]:focus:valid, #signinForm input[type="password"]:focus:valid, #signinForm input[type="text"]:focus:valid {
      border-color: #84bc22; }
  #signinForm input[type="email"] {
    margin-bottom: 2.1428571429rem; }
  #signinForm div.password {
    position: relative; }
    #signinForm div.password span.showPassword {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem; }
      #signinForm div.password span.showPassword svg {
        color: #4f4e4c;
        width: 1.2857142857rem;
        height: 1.2857142857rem; }
  #signinForm input[type="submit"]#login {
    display: block;
    margin: 4.2857142857rem auto 1.5714285714rem;
    padding: 0.5714285714rem 5rem;
    border-color: transparent;
    color: #ffffff;
    background-color: #84bc22; }
    #signinForm input[type="submit"]#login:hover {
      color: #84bc22;
      border-color: #84bc22;
      background-color: transparent; }

div#cookies {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: #ffffff;
  padding: 1.7857142857rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  cursor: initial;
  border-radius: 10px; }
  div#cookies.active {
    opacity: 1;
    visibility: visible; }
  div#cookies div.subwrapper {
    text-align: left;
    position: relative; }
    div#cookies div.subwrapper h6, div#cookies div.subwrapper a {
      color: #84bc22; }
    div#cookies div.subwrapper h6 {
      margin-bottom: 1.1428571429rem;
      font-size: 1.1428571429rem;
      line-height: 1.5; }
    div#cookies div.subwrapper p {
      width: 80%;
      color: #45413e;
      font-size: 1rem;
      line-height: 1.71; }
    div#cookies div.subwrapper button#accept-cookies {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.6428571429rem 3.2857142857rem;
      border-color: transparent;
      color: #ffffff;
      background-color: #84bc22; }
      div#cookies div.subwrapper button#accept-cookies:hover {
        color: #84bc22;
        border-color: #84bc22;
        background-color: transparent; }
    div#cookies div.subwrapper span#close-cookies {
      position: absolute;
      top: -10%;
      right: 0;
      cursor: pointer;
      transition: all 0.3s ease; }
      div#cookies div.subwrapper span#close-cookies svg {
        font-size: 1.5rem; }
      div#cookies div.subwrapper span#close-cookies:hover svg path {
        fill: #84bc22; }

/* Header ------------------------------------------------ */
/* Header ------------------------------------------------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc; }
  header > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    header > .wrapper a.logo {
      display: flex;
      width: 12%;
      align-self: center; }
      header > .wrapper a.logo img {
        width: 4.5714285714rem;
        height: 4.5714285714rem;
        margin-right: 5px; }
      header > .wrapper a.logo div h1 {
        font-size: 2.2857142857rem;
        letter-spacing: 6.33px;
        color: #011847; }
      header > .wrapper a.logo div h2 {
        font-size: 1.2857142857rem;
        color: #84bc22; }
    header > .wrapper nav > ul {
      display: flex;
      align-items: flex-end; }
      header > .wrapper nav > ul > li {
        display: inline-block;
        padding: 1.0714285714rem 1.4285714286rem 2.1428571429rem 1.4285714286rem;
        transition: all 0.3s ease;
        user-select: none; }
        header > .wrapper nav > ul > li:hover {
          color: #ffffff; }
        header > .wrapper nav > ul > li > span.arrow-down {
          font-size: 0.7em;
          margin-left: 0.5714285714rem;
          color: #45413e;
          opacity: 0.7; }
    header > .wrapper nav {
      display: flex;
      width: 85%;
      justify-self: flex-end;
      justify-content: space-around;
      padding-top: 1rem; }
      header > .wrapper nav ul.nav-main > li {
        text-transform: uppercase;
        border-bottom: 5px solid transparent; }
        header > .wrapper nav ul.nav-main > li:hover {
          background-color: #262a32;
          border-bottom: 5px solid #84bc22; }
          header > .wrapper nav ul.nav-main > li:hover * {
            color: #ffffff; }
        header > .wrapper nav ul.nav-main > li.menu-open {
          z-index: 20; }
          header > .wrapper nav ul.nav-main > li.menu-open:hover .menu {
            opacity: 1;
            visibility: visible; }
          header > .wrapper nav ul.nav-main > li.menu-open .menu {
            background-color: #262a32;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            left: 0;
            right: 0;
            top: 5.9285714286rem;
            z-index: 10;
            transition: all 0.4s ease; }
            header > .wrapper nav ul.nav-main > li.menu-open .menu > .wrapper {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: space-between;
              padding-top: 2.1428571429rem;
              padding-bottom: 2.1428571429rem; }
            header > .wrapper nav ul.nav-main > li.menu-open .menu * {
              font-size: 1rem;
              color: #ffffff;
              text-align: left; }
            header > .wrapper nav ul.nav-main > li.menu-open .menu h3 {
              padding-bottom: 0.7142857143rem; }
            header > .wrapper nav ul.nav-main > li.menu-open .menu li {
              padding: 0.4285714286rem 0;
              text-transform: capitalize;
              transition: all 0.2s ease; }
              header > .wrapper nav ul.nav-main > li.menu-open .menu li:hover {
                opacity: 0.6; }
            header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat {
              width: 40%;
              display: flex;
              flex-direction: column; }
              header > .wrapper nav ul.nav-main > li.menu-open .menu div.prod-cat > div {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between; }
            header > .wrapper nav ul.nav-main > li.menu-open .menu div.sale {
              width: 10%;
              display: flex;
              flex-direction: column; }
            header > .wrapper nav ul.nav-main > li.menu-open .menu img {
              width: 30%;
              height: 100%;
              border-radius: 10px; }
      header > .wrapper nav ul.nav-lang {
        margin-right: 3.5714285714rem; }
        header > .wrapper nav ul.nav-lang * {
          color: #45413e; }
        header > .wrapper nav ul.nav-lang > li {
          border-bottom: 5px solid transparent;
          color: rgba(69, 65, 62, 0.5); }
          header > .wrapper nav ul.nav-lang > li:hover {
            background-color: #262a32;
            border-bottom: 5px solid #84bc22;
            color: #ffffff; }
            header > .wrapper nav ul.nav-lang > li:hover * {
              color: #ffffff; }
          header > .wrapper nav ul.nav-lang > li.lang-open, header > .wrapper nav ul.nav-lang > li.currency-open {
            z-index: 20; }
            header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu {
              background-color: #262a32;
              position: absolute;
              opacity: 0;
              visibility: hidden;
              top: 5.9285714286rem;
              z-index: 10;
              transition: all 0.4s ease; }
              header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu li, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu li, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu li, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu li {
                padding: 0.4285714286rem 0;
                text-transform: capitalize;
                transition: all 0.2s ease;
                cursor: pointer; }
                header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu li:hover, header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu li:hover, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu li:hover, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu li:hover {
                  opacity: 0.6; }
            header > .wrapper nav ul.nav-lang > li.lang-open .lang-menu, header > .wrapper nav ul.nav-lang > li.currency-open .lang-menu {
              width: 5.5714285714rem;
              transform: translateX(-1.4285714286rem); }
            header > .wrapper nav ul.nav-lang > li.lang-open .currency-menu, header > .wrapper nav ul.nav-lang > li.currency-open .currency-menu {
              width: 9.2857142857rem;
              transform: translateX(-30%); }
          header > .wrapper nav ul.nav-lang > li.lang-open:hover .lang-menu {
            opacity: 1;
            visibility: visible; }
          header > .wrapper nav ul.nav-lang > li.currency-open:hover .currency-menu {
            opacity: 1;
            visibility: visible; }
      header > .wrapper nav ul.nav-manage > li button, header > .wrapper nav ul.nav-manage > li a {
        background-color: transparent;
        border: none;
        position: relative;
        cursor: pointer; }
        header > .wrapper nav ul.nav-manage > li button svg, header > .wrapper nav ul.nav-manage > li a svg {
          color: #45413e;
          opacity: 0.5;
          font-size: 1.7rem; }
          header > .wrapper nav ul.nav-manage > li button svg path, header > .wrapper nav ul.nav-manage > li a svg path {
            transition: all 0.3s ease; }
          header > .wrapper nav ul.nav-manage > li button svg:hover path, header > .wrapper nav ul.nav-manage > li a svg:hover path {
            color: #84bc22; }
        header > .wrapper nav ul.nav-manage > li button#wishlist > span, header > .wrapper nav ul.nav-manage > li button#cart > span, header > .wrapper nav ul.nav-manage > li a#wishlist > span, header > .wrapper nav ul.nav-manage > li a#cart > span {
          position: absolute;
          display: inline-block;
          top: -30%;
          right: -40%;
          font-size: 0.6rem;
          color: #84bc22;
          background-color: #ffffff;
          border: 0.15rem solid #84bc22;
          padding: 0.1428571429rem 0.3571428571rem;
          border-radius: 50%;
          z-index: 15; }

/* Main -------------------------------------------------- */
main {
  /* Info ----------------------------------------- */ }
  main section.countdown {
    background-color: #F5F5F5;
    padding: 5.7142857143rem 0; }
    main section.countdown .wrapper {
      background-color: #ffffff;
      padding: 3.5714285714rem 0 4.2857142857rem;
      border-radius: 10px;
      text-align: center; }
      main section.countdown .wrapper h3 {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 0.5rem;
        font-size: 2.1428571429rem; }
      main section.countdown .wrapper p {
        width: 38%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #555555; }
      main section.countdown .wrapper div.release {
        width: 55%;
        margin: 5.3571428571rem auto 7.1428571429rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        main section.countdown .wrapper div.release > div {
          width: 18.4%;
          text-align: center; }
          main section.countdown .wrapper div.release > div > div {
            width: 100%;
            position: relative;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            width: 100%;
            height: 8.5714285714rem; }
            main section.countdown .wrapper div.release > div > div > * {
              position: absolute;
              top: 50%;
              left: 50%;
              border-radius: 50%;
              transform: translate(-50%, -50%); }
          main section.countdown .wrapper div.release > div span {
            font-size: 3.4285714286rem;
            color: #45413e;
            background-color: #ffffff;
            border: 0.2rem solid #84bc22;
            padding: 2rem;
            user-select: none; }
          main section.countdown .wrapper div.release > div h5 {
            width: 100%;
            display: block;
            text-align: center;
            font-size: 1.2857142857rem;
            line-height: 1.67;
            color: #45413e;
            margin-top: 1rem; }
      main section.countdown .wrapper form.mailing {
        width: 42%;
        margin: 0 auto;
        position: relative; }
        main section.countdown .wrapper form.mailing > input[type="email"] {
          border-radius: 35px;
          border: 0.15rem solid #e5e2df;
          padding: 0.7142857143rem 1.4285714286rem;
          width: 100%;
          color: #45413e;
          font-size: 1rem;
          transition: all 0.5s ease; }
          main section.countdown .wrapper form.mailing > input[type="email"]:focus {
            border-color: #84bc22; }
            main section.countdown .wrapper form.mailing > input[type="email"]:focus:invalid, main section.countdown .wrapper form.mailing > input[type="email"]:focus:empty {
              border-color: red; }
        main section.countdown .wrapper form.mailing > input[type="submit"] {
          position: absolute;
          opacity: 0;
          visibility: hidden; }
        main section.countdown .wrapper form.mailing label {
          cursor: pointer; }
          main section.countdown .wrapper form.mailing label svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1rem;
            color: #84bc22;
            width: 1.6428571429rem;
            height: 1.6428571429rem; }

/* Footer ------------------------------------------------ */
/* Footer ------------------------------------------------ */
footer .wrapper {
  padding-top: 2.2857142857rem;
  padding-bottom: 2.7142857143rem;
  display: flex;
  justify-content: space-between; }
  footer .wrapper * {
    text-align: left;
    font-size: 0.9285714286rem;
    color: #45413e; }
  footer .wrapper h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #45413e;
    font-weight: 600; }
  footer .wrapper li {
    margin: 0.7142857143rem 0; }
  footer .wrapper .contact {
    width: 17%; }
    footer .wrapper .contact h3 {
      margin-top: 2rem;
      margin-bottom: 0; }
    footer .wrapper .contact ul li {
      margin-bottom: 1.4285714286rem; }
  footer .wrapper .categories {
    width: 40%; }
    footer .wrapper .categories > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      footer .wrapper .categories > div ul li a {
        opacity: 0.7; }
        footer .wrapper .categories > div ul li a:hover {
          color: #84bc22; }
  footer .wrapper .about {
    width: 10%; }
    footer .wrapper .about ul li a {
      opacity: 0.7; }
      footer .wrapper .about ul li a:hover {
        color: #84bc22; }
  footer .wrapper .social ul li {
    display: inline-block;
    margin: 0 0.8571428571rem; }
    footer .wrapper .social ul li a svg {
      color: #45413e;
      opacity: 0.5;
      font-size: 1.2rem; }
      footer .wrapper .social ul li a svg path {
        transition: all 0.3s ease; }
      footer .wrapper .social ul li a svg:hover path {
        color: #84bc22; }
