// Variables ------------------------------------------------
$radius: 10px

// Functions -----------------------------------------------
@function to-rem ($original)
	@return $original / 14px * 1rem

// General styles -------------------------------------------
html
	font-size: 14px
	scroll-behavior: smooth

body
	position: relative
	&.noscroll
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		overflow: hidden
	@media (max-width: 1010px)
		padding-top: 78px
	@media (max-width: 850px)
		padding-bottom: 53px

main
	padding-top: to-rem(83px)
	@media (max-width: 850px)
		padding: 0

.wrapper
	width: 1280px
	margin: 0 auto
	text-align: center
	@media (max-width: 1280px)
		width: 95%

section
	overflow: hidden

a, button, input[type="submit"]
	display: inline-block
	transition: all 0.5s ease

.img
	display: inline-block
	width: 100%
	height: 100%
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	background-color: transparent

%btn
	text-transform: uppercase
	font-size: to-rem(16px)
	padding: to-rem(8px) to-rem(20px)
	border-width: 0.15rem
	border-style: solid
	border-radius: 3.5*$radius
	cursor: pointer

%print-section
	@media print
		&, *
			overflow: visible
			visibility: visible

@mixin text-gradient ($color1, $color2)
	background: linear-gradient(to top, $color1, $color2)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

// Custom elements .....................................

// HTML: select => option
%custom-select
	// Reset
	appearance: none
	-moz-appearance: none
	-webkit-appearance: none
	// Style
	display: inline-block
	border: 0.15rem solid $sourcream-color
	border-radius: $radius + 2.5*$radius
	padding: to-rem(8px) to-rem(20px)
	font-size: to-rem(16px)
	background-color: $white-color
	color: $grey-color
	text-transform: capitalize
	cursor: pointer
	transition: all 0.4s ease
	// Style arrow
	background: url("../img/icons/select-arrow.svg")
	background-repeat: no-repeat
	background-position: 85% 50%
	background-size: 0.6rem
	&:hover
		border-color: $green-color

// HTML: div => button.minus + input:number + button.plus
%custom-number-input
	display: inline-block
	position: relative
	> input[type="number"]
		// Reset
		-webkit-appearance: textfield
		-moz-appearance: textfield
		appearance: textfield
		// Styling field
		width: 100%
		border: 0.15rem solid $sourcream-color
		border-radius: $radius + 2.5*$radius
		padding: to-rem(8px) to-rem(20px)
		font-size: to-rem(16px)
		background-color: $white-color
		@include text-gradient ($gradient1-color, $gradient2-color)
		text-align: center
		// Reset buttons
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
			-webkit-appearance: none
		@media print
			&
				visibility: visible
				// Disable text gradient
				background: transparent
				-webkit-background-clip: initial
				-webkit-text-fill-color: initial
	> button
		position: absolute
		top: 50%
		transform: translateY(-50%)
		border: none
		background-color: transparent
		cursor: pointer
		color: #999999
		font-size: to-rem(18px)
		width: to-rem(20px)
		height: to-rem(20px)
		border-radius: 50%
		transition: all 0.5s ease
		&:hover
			background-color: lighten($sourcream-color, 5%)
		&.minus
			left: 15%
		&.plus
			right: 15%

// HTML: box => input[type="radio"] + label
%custom-radio-input
	> input[type="radio"]
		opacity: 0
		visibility: hidden
		&:checked + label:after
			opacity: 1
	> label
		position: relative
		cursor: pointer
		&:hover
			&:before
				box-shadow: 0 0 to-rem(5px) #ddd
		&:before
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: -2rem
			background-color: transparent
			padding: to-rem(6px)
			border: 0.15rem solid $sourcream-color
			border-radius: 50%
			content: ""
			transition: all 0.2s ease
		&:after
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: -1.72rem
			background-color: $green-color
			padding: to-rem(4px)
			border: none
			border-radius: 50%
			content: ""
			transition: all 0.5s ease
			opacity: 0


// Reusable class styles ------------------------------------------
#overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 100
	overflow: hidden
	background-color: #000
	opacity: 0
	visibility: hidden
	cursor: pointer
	&.active
		opacity: 1
		background-color: rgba(#000, 0.74)
		visibility: visible

#signinForm
	position: absolute
	width: 40%
	top: 55%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 200
	background-color: $white-color
	padding: to-rem(50px)
	opacity: 0
	visibility: hidden
	transition: all 0.4s ease
	cursor: initial
	&.active
		opacity: 1
		visibility: visible
	text-align: center
	border-radius: $radius
	@media (max-width: 1280px)
		width: 50%
	@media (max-width: 960px)
		width: 60%
	@media (max-width: 640px)
		width: 80%
		padding: to-rem(20px)
	&:after
		content: ""
		display: table
		clear: both
	*
		user-select: none
	h3
		color: $grey-color
		font-size: to-rem(30px)
		margin-bottom: 3rem
	label
		color: $grey-color
		font-size: 1rem
		margin-bottom: 1rem
		float: left
		display: inline-block
	a
		display: inline-block
		color: $green-color
		font-size: to-rem(12px)
		&:hover
			color: lighten($green-color, 10%)
	div.forgot
		&:after
			content: ""
			display: table
			clear: both
		> a
			float: right
	input[type="email"], input[type="password"], input[type="text"]
		width: 100%
		border: 0.15rem solid #d7d7d7
		background-color: $white-color
		padding: to-rem(12px) to-rem(20px)
		border-radius: 3.5*$radius
		transition: all 0.5s ease
		&:focus
			&:invalid, &:empty
				border-color: red
			&:valid
				border-color: $green-color
	input[type="email"]
		margin-bottom: to-rem(30px)
	div.password
		position: relative
		span.showPassword
			cursor: pointer
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: 1rem
			svg
				color: #4f4e4c
				width: to-rem(18px)
				height: to-rem(18px)
	input[type="submit"]#login
		display: block
		margin: to-rem(60px) auto to-rem(22px)
		@extend %btn
		padding: to-rem(8px) to-rem(70px)
		border-color: transparent
		color: $white-color
		background-color: $green-color
		&:hover
			color: $green-color
			border-color: $green-color
			background-color: transparent

div#cookies
	position: absolute
	width: 80%
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 200
	background-color: $white-color
	padding: to-rem(25px)
	opacity: 0
	visibility: hidden
	transition: all 0.4s ease
	cursor: initial
	&.active
		opacity: 1
		visibility: visible
	border-radius: $radius
	div.subwrapper
		display: flex
		flex-direction: column
		align-items: flex-start
		position: relative
		@media (max-width: 920px)
			align-items: center
		h6, a
			color: $green-color
		h6
			margin-bottom: to-rem(16px)
			font-size: to-rem(16px)
			line-height: 1.5
		p
			display: inline-block
			width: 80%
			color: $grey-color
			font-size: 1rem
			line-height: 1.71
			@media (max-width: 920px)
				width: 100%
		button#accept-cookies
			min-width: 20%
			align-self: flex-end
			@extend %btn
			padding: to-rem(9px) to-rem(46px)
			border-color: transparent
			color: $white-color
			background-color: $green-color
			&:hover
				color: $green-color
				border-color: $green-color
				background-color: transparent
			@media (max-width: 920px)
				align-self: center
				margin-top: 1rem
		span#close-cookies
			position: absolute
			top: 0
			right: 0
			cursor: pointer
			transition: all 0.3s ease
			svg
				font-size: 1.5rem
			&:hover
				svg path
					fill: $green-color